.map-body img{
    border-radius:100px 0px 100px 0px;
    box-shadow: #d5daf5 31px 31px 0px;
}

.map-body{
    padding-top: 50px;
}

.contact-section p{
    font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 34px;


color: #979797;
}
.contact-section .btn-signup-custom{
    background-color: #FC7342 !important;
    border-color: #FC7342 !important;
    padding: 15px 82px;
}
.contact-section .btn.btn-signup-custom:disabled {
    background-color: #eceff5 !important;
    border-radius: 4px;
    border-color: #eceff5 !important;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #797F8B  !important;
    opacity: 1;
}
.contact-header-text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    color: #2D3344;
    text-align: left;
}
.contact-section .card-body{
    padding:0px;
}
.contact-section .card{
    border:unset;
    box-shadow: unset !important;
    border-radius: 4px;
    background: transparent;
}
.contact-section .card .form-label {
    padding-top: 15px;
    width: 100%;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 34px;
}
.contact-section input.form-control{
    height: 52px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;

    color: #2D3344;
}
.contact-comment p{
    font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
letter-spacing: 0px;
color: #2D3344;
margin-bottom: 1px;
}
.par-blue{
    font-family: Lato !important;
    font-style: normal;
    font-weight: normal !important;
    font-size: 16px !important;
    line-height: 26px !important;
    color: #3445CF !important;
}
.margin-left-10{
    margin-left: 10px;
}
.padding-3{
    padding: 3px;
}
.contact_div{
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;
}
.contact-comment{
    margin: auto;
    width: 100%;
}
.message{
    padding-top: 34%;
}
.map{
    max-width: 100%;
    height: auto;
    border-radius: 100px 0px 100px 0px;
    box-shadow: #d5daf5 31px 31px 0px;
}
.map-body .map iframe{
    width: 100%;
    height: 550px;
    border-radius: 100px 0px 100px 0px;
    box-shadow: #d5daf5 31px 31px 0px;
    border: none;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1023px) {
    .contact-section {
        transform: skew(0deg, -2deg);
        background: #f9fafe;
        background-repeat: no-repeat;
        border-radius: 0px 104px 0px 104px;
        padding: 0% 5%;
    }
    .contactus_section {
        transform: skew(0deg, 2deg);
    }
    .contact-comment{
        margin: auto;
        width: 100%;
    }
    .contact_div{
        padding-right: 15px !important;
        padding-left: 15px !important;
        margin-right: 0 !important;
        margin-left: 0 !important;
        max-width: 100%;
    }
    .contact-header-text{
        text-align: center !important;
    }
    .contact-section p {
        font-size: 17px !important;
        line-height: 26px !important;
        text-align: center !important;
        width: 391px;
        margin: auto;
    }
    .contact_button {
        margin-top: 50px;
        text-align: center;
    }
    .map_heading{
        text-align: left;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 2px;
        color: #2D3344;
        opacity: 0.6;
        margin-bottom: 30px;
    }
    .map-body .map_heading img {
        border-radius: unset;
        box-shadow: unset;
    }
    .message {
        padding-top: 0;
    }
}
@media only screen and (min-device-width : 481px) and (max-device-width : 767px) {
    .contact-section {
        transform: skew(0deg, -2deg);
        background: #f9fafe;
        background-repeat: no-repeat;
        border-radius: 0px 104px 0px 104px;
        padding: 10% 5%;
    }
    .contactus_section {
        transform: skew(0deg, 2deg);
    }
    .contact_div{
        padding-right: 15px !important;
        padding-left: 15px !important;
        margin-right: 0 !important;
        margin-left: 0 !important;
        max-width: 100%;
    }
    .contact-header-text{
        text-align: center !important;
    }
    .contact-section p {
        font-size: 16px !important;
        line-height: 26px !important;
        text-align: center !important;
        width: 335px;
        margin: auto;
    }
    .contact_button {
        margin-top: 50px;
        text-align: center;
    }
    .contact-comment{
        margin: auto;
        width: 70%;
        margin-bottom: 95px !important;
    }
    .map_heading{
        text-align: left;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 2px;
        color: #2D3344;
        opacity: 0.6;
        margin-bottom: 30px;
    }
    .map-body .map_heading img {
        border-radius: unset;
        box-shadow: unset;
    }
    .contact_div.margin-bottom-100{
        margin-bottom: 0;
    }
    .message{
        padding-top: 0;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .contact-section {
        transform: skew(0deg, -2deg);
        background: #f9fafe;
        background-repeat: no-repeat;
        border-radius: 0px 104px 0px 104px;
        padding: 10% 5%;
    }
    .contactus_section {
        transform: skew(0deg, 2deg);
    }
    .contact_div{
        padding-right: 15px !important;
        padding-left: 15px !important;
        margin-right: 0 !important;
        margin-left: 0 !important;
        max-width: 100%;
    }
    .contact-header-text{
        text-align: center !important;
    }
    .contact-section p {
        font-size: 16px !important;
        line-height: 26px !important;
        text-align: center !important;
        width: 335px;
        margin: auto;
    }
    .contact_button {
        margin-top: 50px;
        text-align: center;
    }
    .contact-comment{
        margin: auto;
        width: 70%;
        margin-bottom: 95px !important;
    }
    .map_heading{
        text-align: left;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 2px;
        color: #2D3344;
        opacity: 0.6;
        margin-bottom: 30px;
    }
    .map-body .map_heading img {
        border-radius: unset;
        box-shadow: unset;
    }
    .contact_div.margin-bottom-100{
        margin-bottom: 0;
    }
    .message{
        padding-top: 0;
    }
}
