.show_error{
  display:visible;
}
.upload_file_p{
  color: #2D3344;
}
.hide_error{
  display:none;
}
.arrow-button:hover, .arrow-button:focus {
  color: #0e1032;
  text-decoration: none;
}
.arrow-button {
  color: #3445CF;
  font-weight: 600;
  text-decoration: none;
}
.btn-deposit-signup-custom{
  color: #ffffff !important;
  background-color: #FC7342 !important;
  border-color: #FC7342 !important;
  padding: 12px;
  font-weight: normal;
}
.account-deposit-section{
  box-shadow: 0px 2px 18px -7px rgba(0, 0, 0, 0.1);
}
.account-deposit-section .nav-tabs .nav-link.active {
  color: #fff;
  background-color: #3445CF;
  border-color: #3445CF;
  padding: 10px;
}
.account-deposit-section .nav-tabs .nav-link {
  border: 0px 0px 1px 0px solid #3445CF !important;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  color:rgba(0,0,0,.6);
}
.bitcoin-input{
  height: 52px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 34px;
  color: #2D3344;
}
.euro-input{
  height: 52px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 34px;
  color: #2D3344;
}
.credit-input{
  height: 52px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 34px;
  color: #2D3344;
}
.wire-details-section .form-control{
  height: 52px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 34px;
  color: #2D3344;
  margin-bottom:10px
}

.deposit-file-label{
  padding: 0 100px;
  color: #C4C4CE !important;
  margin: 0;
}
.deposit-file-div{
  padding: 0 100px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  padding: 13px 20px;
    height: 52px;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}
.deposit-file-div img{
  margin-right: 15px;
}
.deposit-file-label::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 18px;
  bottom: 7px;
  z-index: 3;
  display: block;
  padding: 5px 10px;
  background-image: url('../../images/bttn.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 70px;
  height: 25px;
  border-left: none;
}
.deposit-file-label::after {
  display: none;
}
.deposit-file-input{
  display: none;
}
.deposit-file {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 52px !important;
  margin-bottom: 0;
  padding-top: 10px;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}
.padding-top-20{
  padding-top: 20px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
.account-deposit-section{
    padding:10px;
    margin-right: 0px !important;
    margin-left: 0 !important;
}
}

@media only screen and (min-device-width : 481px) and (max-device-width : 767px) {
  .account-deposit-section{
      padding:10px;
      margin-right: 0px !important;
      margin-left: 0 !important;
  }
  }