.dashboard-section{
    box-shadow: 0px 2px 18px -7px rgba(0, 0, 0, 0.1);
    background-color: #ffffff!important;
}
.nav-item{
    font-family: Lato;
}
.dashboard-section p{
    color: gray;
}
.assets-heading{
    font-family: Montserrat;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 16px;
    line-height: 20px;
    color: #2D3344;
    margin-bottom: 0px;
    cursor: pointer;
}
.lg-change-text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: rgba(45, 51, 68, 0.6) !important;
    text-align: left !important;
    margin-bottom: 0px;
}
/* .point-value b{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;    
    color: #FC4263;
    margin-bottom: 0px;
} */
.status-balance b{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;    
    color: #FC4263;
    margin-bottom: 0px;
}
/* .status b{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #2D3344;
    margin-bottom: 0px;
} */
.asset-info{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #3445CF;
    margin-bottom: 0px;
    cursor: pointer;
}

.purple-text{
    font-family: Lato !important;
    font-style: normal;
    font-weight: bold !important;
    font-size: 12px;
    line-height: 14px;    
    color: #3445CF !important;
    mix-blend-mode: normal !important; 
}
.gray-text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 1.7px;
    color: rgba(45, 51, 68, 0.5);
    mix-blend-mode: normal;
    padding:5px 8px;
}
.width-1{
    width:7%;
    padding:15px;
}
.width-10{
    width:10%;
    padding:15px 15px 15px 6px;
    background: url("../../../images/Rectangle 3.1.svg") no-repeat;
    background-position: center right;
}
.width-9{
    width:9%;
    padding:15px 15px 15px 6px;
    background: url("../../../images/Rectangle 3.1.svg") no-repeat;
    background-position: center right;
}
.width-11{
    width:11%;
    padding:15px 15px 15px 6px;
    background: url("../../../images/Rectangle 3.1.svg") no-repeat;
    background-position: center right;
}
.width-12{
    width:12%;
    padding:15px;
}
.width-2{
    width:20%;
    padding:15px;
}
.width-215{
    width:20.5%;
    padding:15px 5px;
}
.width-3{
    width:30%;
    padding:15px;
}
.dashboard-table{    
    /* background-color: #ffffff!important; */
}
.dashboard-container{
    /* margin-left: 15px; */
    /* background-color: #ffffff!important; */
}

.dashboard-container .buy.col-md-6{
    max-width: 49% ;
    color:rgba(45, 51, 68, 0.5) !important;
    background-color: #ffffff!important;    
    /* padding: 0px */
}
.dashboard-container .sell.col-md-6{
    max-width: 49% ;
    color:rgba(45, 51, 68, 0.5) !important;
    background-color: #ffffff!important;    
    /* padding: 0px */
}
.box-shadow{
    box-shadow: 2px 16px 50px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
}
.buy-heading{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 2px;
    color: #2D3344;
    padding: 20px;
    border-bottom: 1px solid #ECEFF5;
    margin-bottom:10px;
}
.buy{
    height: fit-content;
}
.sell{
    height: fit-content;
}
.buy .row{
    padding: 20px;
}
.sell .row{
    padding: 20px;
}
.buy p{
    color: rgba(45, 51, 68, 0.5);
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 16px;
}
.sell p{
    color: rgba(45, 51, 68, 0.5);
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 16px;
}
.sell-heading{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 2px;
    color: #2D3344;
    padding: 20px;
    border-bottom: 1px solid #ECEFF5;
    margin-bottom:10px;
}
.circular-buy-div .enter-text{
    font-family: CircularStd;
    font-size: 8px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color:rgba(45, 51, 68, 0.5) !important;
    font-weight: unset;
    margin-bottom: 10px;
}
.circular-buy-div .amount-text{
    font-family: CircularStd !important;
    font-size: 22px !important;
    line-height: 20px !important;
    text-align: center !important;
    text-transform: uppercase !important;
    color: #19C8B3 !important;
    margin-bottom: 10px;
}
.circular-buy-div .form-control{
    display: block;
    width: 100%;
    height: unset;
    padding: unset;
    font-size: unset;
    font-weight: unset;
    line-height: unset;
    color: unset;
    background-color: transparent;
    background-clip: unset;
    border: unset;
    border-radius: 8.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.circular-buy-div .buy-text{
    font-family: CircularStd;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #19C8B3 !important;
    margin-bottom: 10px;
}
.float-div{
    padding:6px;
    margin-top:25%;
}

.circular-buy-div{
    border: 4px solid #19C8B3;
    border-radius:50%;
    width: 135px;
    height: 135px;
    padding-top: 5px;
}
.circular-sell-div{
    border: 4px solid #FC4263;
    border-radius:50%;
    width: 135px;
    height: 135px;
    padding-top: 5px;
}
.circular-sell-div .enter-text{
    font-family: CircularStd;
    font-size: 8px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color:rgba(45, 51, 68, 0.5) !important;
    font-weight: unset;
    margin-bottom: 10px;
}
.circular-sell-div .amount-text{
    font-family: CircularStd !important;
    font-size: 22px !important;
    line-height: 20px !important;
    text-align: center !important;
    text-transform: uppercase !important;
    color: #FC4263 !important;
    margin-bottom: 10px;
}
.circular-sell-div .form-control{
    display: block;
    width: 100%;
    height: unset;
    padding: unset;
    font-size: unset;
    font-weight: unset;
    line-height: unset;
    color: unset;
    background-color: transparent;
    background-clip: unset;
    border: unset;
    border-radius: 8.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.circular-sell-div .buy-text{
    font-family: CircularStd;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #FC4263 !important;
    margin-bottom: 10px;
}
.table p{
    color: #2D3344;
    margin-bottom:0px;
}
.table-assets{
    box-shadow: 2px 16px 50px rgba(0, 0, 0, 0.04);
}
.dashboard-table .table{
    margin-bottom: 0px;
}
.dashboard-table .table a{
    text-decoration: none;
}

.table-assets{
    width: 22.7%;
    padding:0px;
    border-radius: 4px;
    height: fit-content;
}

.dash-asset-section{
    /* box-shadow: 2px 16px 50px rgba(0, 0, 0, 0.04); */
}
.dash-asset-section{
    padding-left:4%;
    width: 76.2%;
}
.dashboard-table table p{
    margin-bottom: 0px;
}
.heading-table{
    background-color: #ffffff!important;    
}
.heading-table th{
    border-top:unset;
    height: 50px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 2px;
    color: #2D3344;
    padding: 20px 8px;
}
.heading-table div{
    border-top:unset;
    height: 60px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    color: #2D3344;
    padding: 20px 8px;
}
.table li{
    border-top: 1px solid #ECEFF5 !important;
}
table tr:hover{
    background-color: #ffffff !important;
}
.positive-text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    color: #19C8B3 !important;
}
.change-text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    text-align: right;
    color: rgba(45, 51, 68, 0.6) !important;
}
.heading-assets{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #2D3344;
}
.heading-value{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 15px;
    color: #2D3344;
}
.negative-text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    color: #FC4263 !important;
}

.graph-section p{
    color:#2D3344;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

.buy .input-group-text{
    border: unset;
    padding-right: 0px;
    background: transparent;
    font-family: CircularStd;
    font-size: 12px;
    line-height: 15px;
    color: #3445CF;
    border-bottom: 3px solid #3445CF;
    border-radius: unset;
}
.buy .buy-input{
    border: unset;
    padding-left:0px;
    border-radius: unset;
    border-bottom: 3px solid #3445CF;
    font-family: CircularStd;
    font-size: 18px;
    line-height: 23px;
    color: #3445CF;
}
.buy .buy-input:focus{
    border: unset;
    box-shadow: unset;
    border-bottom: 3px solid #3445CF;
}
.sell .input-group-text{
    border: unset;
    padding-right: 0px;
    background: transparent;
    font-family: CircularStd;
    font-size: 12px;
    line-height: 15px;
    color: #3445CF;
    border-bottom: 3px solid #3445CF;
    border-radius: unset;
}
.sell .sell-input{
    border: unset;
    padding-left:0px;
    border-radius: unset;
    border-bottom: 3px solid #3445CF;
    font-family: CircularStd;
    font-size: 18px;
    line-height: 23px;
    color: #3445CF;
}
.sell .sell-input:focus{
    border: unset;
    box-shadow: unset;
    border-bottom: 3px solid #3445CF;
}
.buy-heading h2{
    margin-bottom: 0px;
}
.sell-heading h2{
    margin-bottom: 0px;
}
.dashboard-section.show{
    display: visible;
}
.dashboard-section.hide{
    display: none;
}
@media (min-width: 1200px)
{
    .container {
    max-width: 1140px;
}}
@media (min-width: 960px)
{
    .container {
    max-width: 1114px;
}}
@media only screen and (min-width: 1024px) and (max-height: 1366px)
    and (-webkit-min-device-pixel-ratio: 1.5) and (hover: none) {
        .container {
            max-width: 973px;
        }
}
@media only screen and (min-width: 1024px) and (max-height: 1366px)
    and (-webkit-min-device-pixel-ratio: 1.5) and (hover: none) {
        .container {
            max-width: 973px;
        }
}
@media only screen and (min-width: 768px) and (max-height: 1024px)
    and (-webkit-min-device-pixel-ratio: 1.5) and (hover: none) {
        #canvasjs-react-chart-container-0{
            width:450px !important;
        }
        .assets-heading {
            font-size: 12px;
            line-height: 15px;
        }
        .canvasjs-chart-container canvas{
            /* width: 450px !important; */
        }
        .dashboard-container .buy.col-md-6 {
            max-width: 96% !important;
            flex: unset !important;
        }
        .dashboard-container .sell.col-md-6 {
            max-width: 96% !important;
            margin-top:15px;
            flex: unset !important;
        }
        .table-assets {
            width: 35% !important;}
        .dash-asset-section {
            width: 65% !important;
        }
        .dashboard-container .sell.col-md-6{
            max-width: 96% !important;
        }
}
@media only screen and (min-width: 1366px) and (max-height: 1024px)
    and (-webkit-min-device-pixel-ratio: 1.5) and (hover: none) {
        .container {
            max-width: 1214px;
        }
}

.mobile_slider{
    display: none;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .addasset_button{
        text-align: center;
    }
    .float-right {
        float: unset !important;
    }
    .table-assets {
        width: 100%;
    }
    .dashboard-table .table {
        display: none;
    }
    .mobile_slider{
        display: block;
    }
    .dashboard-table .mobile_slider .slick-arrow{
        display: none !important;
    }
    .mobile_slider .slick-slide.slick-active {
        /* width: 375px !important; */
    }
    .mobile_slider .slick-slide {
        /* width: 335px !important; */
    }
    .mobile_slider .tab-body{
        min-height:unset !important;
        padding: 0 !important;
        background-color: #fff !important;
    }
    .mobile_slider .tab-body:hover{
        min-height:unset !important;
        padding: 0 !important;
        background-color: #fff !important;
        background: #fff;
        border: unset !important;
        height: unset !important;
    }
    .mobile_slider .slick-list {
        height: unset !important;
    }
    .mobile_slider .slick-dots{
        display: none !important;
    }
    .dash-asset-section {
        padding-left: 0;
        width: 100%;
    }
    .dashboard-container .buy.col-md-6 {
        max-width: 100%;
    }
    .dashboard-container .sell.col-md-6 {
        max-width: 100%;
    }
    .mobile_center{
        text-align: center;
    }
    /* #canvasjs-react-chart-container-0{
        overflow: scroll !important;
     }
     #canvasjs-react-chart-container-2{
        overflow: scroll !important;
     } */
     .dashboard_login .row{
         margin-right: 0px !important;
         margin-left: 0px !important;
     }
     .margin-right-15 {
        margin-right: 0px !important;
    }
    .circular-sell-div {
        margin-left: 12px;
        margin-right: 12px;
    }
    .circular-buy-div{
        margin-left: 12px;
        margin-right: 12px;
    }
    .buy{
        background: #FFFFFF;
        box-shadow: 2px 16px 50px rgba(0, 0, 0, 0.04);
        border-radius: 4px;
        margin: 10px 0 !important;
    }
    .buy.margin-right-15 {
        /* margin-right: 10px !important; */
    }
    .sell{
        background: #FFFFFF;
        box-shadow: 2px 16px 50px rgba(0, 0, 0, 0.04);
        margin: 10px 0 !important;
    }
    .sell.margin-right-15 {
        /* margin-right: 10px !important; */
    }
    .slick-slide img {
        /* margin-top: 15px; */
    }
    .heading-assets {
        margin: 0;
    }
    .heading-value {
        margin: 0;
    }
    .change-text {
        margin: 0;
    }
    .positive-text {
        margin: 0;
    }
    .purple-text {
        font-size: 12px !important;
        line-height: 14px !important;
    }
    .graph_div{
        overflow: scroll;
    }
}
@media only screen and (min-device-width : 481px) and (max-device-width : 767px) {
    .addasset_button{
        text-align: center;
    }
    .float-right {
        float: unset !important;
    }
    .table-assets {
        width: 100%;
    }
    .dashboard-table .table {
        display: none;
    }
    .dashboard-table .mobile_slider .slick-arrow{
        display: none !important;
    }
    .mobile_slider{
        display: block;
    }
    .mobile_slider .slick-slide.slick-active {
        /* width: 375px !important; */
    } 
    .mobile_slider .slick-slide {
        /* width: 335px !important; */
    }
    .mobile_slider .tab-body{
        min-height:unset !important;
        padding: 0 !important;
        background-color: #fff !important;
    }
    .mobile_slider .tab-body:hover{
        min-height:unset !important;
        padding: 0 !important;
        background-color: #fff !important;
        background: #fff;
        border: unset !important;
        height: unset !important;
    }
    .mobile_slider .slick-list {
        height: unset !important;
    }
    .mobile_slider .slick-dots{
        display: none !important;
    }
    .dash-asset-section {
        padding-left: 0;
        width: 100%;
    }
    .dashboard-container .buy.col-md-6 {
        max-width: 100%;
    }
    .mobile_center{
        text-align: center;
    }
    .dashboard-container .sell.col-md-6 {
        max-width: 100%;
    }
    /* #canvasjs-react-chart-container-0{
       overflow: scroll !important;
    }
    #canvasjs-react-chart-container-2{
        overflow: scroll !important;
     } */
    .dashboard_login .row{
        margin-right: 0px !important;
        margin-left: 0px !important;
    }
    .margin-right-15 {
        margin-right: 0px !important;
    }
    .circular-sell-div {
        margin-left: 12px;
        margin-right: 12px;
    }
    .circular-buy-div{
        margin-left: 12px;
        margin-right: 12px;
    }
    .buy{
        background: #FFFFFF;
        box-shadow: 2px 16px 50px rgba(0, 0, 0, 0.04);
        margin: 10px 0 !important;
    }
    .buy.margin-right-15 {
        /* margin-right: 10px !important; */
    }
    .sell{
        background: #FFFFFF;
        box-shadow: 2px 16px 50px rgba(0, 0, 0, 0.04);
        margin: 10px 0 !important;
    }
    .sell.margin-right-15 {
        /* margin-right: 10px !important; */
    }
    .slick-slide img {
        /* margin-top: 15px; */
    }
    .heading-assets {
        margin: 0;
    }
    .heading-value {
        margin: 0;
    }
    .change-text {
        margin: 0;
    }
    .positive-text {
        margin: 0;
    }
    .purple-text {
        font-size: 12px !important;
        line-height: 14px !important;
    }
    .graph_div{
        overflow: scroll;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1023px) {
    .hide_on_mobile {
        display: block;
    }
    .graph_div{
        overflow: scroll;
        background-color: #fff;
        padding: 20px
    }
    .dashboard_login .margin-top-50 {
        margin-top: 20px;
    }
    .status-balance b {
        font-size: 12px;
    }
}