.theme-title-antimoney h2{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 46px;
    line-height: 56px;
    color: #2D3344;
    margin-top: -3%;
}
.theme-title-antimoney h2 img{
    margin-top: -6px;
}

.question-color{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
    color: #2D3344;
    margin-bottom: 25px;
    margin-top: 50px;
}
.question-color img{
    margin-top: -2px;
}

.paragraph-color{
    font-family: Lato;
    font-style: normal;
    font-size: 22px;
    line-height: 40px;
    color: #2D3344;
    margin-bottom: 25px;
}

.paragraph-color span{
    font-family: Lato;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 40px;
    color: #2D3344;
}
.body-color{
    color:#2d3344e0 !important;
    font-family: Lato;
}
.table-color td{
    color:#2d3344e0 !important; 
}

.anchor-color{
    color:#3538D0 !important;
}
.modal-header h4{
    color: rgba(0,0,0,.6) !important;
}
.theme-title-antimoney{
    margin: 50px 0 60px 0;
}
@media (min-width: 992px){
.modal-dialog {
    max-width: 900px;
}}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .theme-title-antimoney{
        margin: 20px 0 60px 0;
    }
    .theme-title-antimoney h2{
        font-size: 22px !important;
        line-height: 32px !important;
        margin-bottom: 50px;
    }
  }
  @media only screen and (min-device-width : 481px) and (max-device-width : 767px) {
    .theme-title-antimoney{
        margin: 20px 0 60px 0;
    }
    .theme-title-antimoney h2{
        font-size: 22px !important;
        line-height: 32px !important;
        margin-bottom: 50px;
    }
  }
  @media only screen and (min-device-width : 768px) and (max-device-width : 1023px) {
 .theme-title-antimoney h2{
     margin-bottom: 50px;
 }
  }