.register-section-cointainer .btn-signup-custom{
    background-color: #FC7342 !important;
    border-color: #FC7342 !important;
    padding: 14px 82px;
}
.register-section-cointainer .btn.btn-signup-custom:disabled {
    background-color: #eceff5 !important;
    border-radius: 4px;
    border-color: #eceff5 !important;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #797F8B;
    opacity: 1;
}
.register-header-text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    text-align: left ;
    color: #2D3344;
}
.register-section .card-body{
    padding:0px;
}
.register-section .card{
    border:unset;
    box-shadow: unset !important;
    border-radius: 4px;
    background: transparent;
}
.register-section .card .form-label {
    padding-top: 15px;
    width: 100%;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 34px;
}
.forgot-link{
    font-family: Lato;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 34px;
    color: #3445CF !important;
}
.forgot-link:hover{
    color: #3445CF !important;
}
.forgot-link:active{
    color: #3445CF !important;
}
.register-section .card .form-check-label{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 34px;
    padding-left: 5px;
    color:#2d334480;
}
.register-section .dark-signup{
    font-weight: bold;
    color:#2D3344;
}
.register-section .card .form-check-input{
    width:20px;
    height:20px;
    line-height: 34px;
    margin-top: 3px;
    margin-right: 0px;
}
.register-section .card .form-control{
    height: 52px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
}
.register-section-cointainer .padding-top-bottom-50{
    padding-top: 50px;
    padding-bottom: 55px;
}
.register-section .css-1g48xl4-IndicatorsContainer {
    height: 52px;
}
.register-section .css-1uccc91-singleValue {
    color: hsl(0,0%,20%) !important;
}
.register-section .css-tlfecz-indicatorContainer{
    display: none !important;
}
.register-section .input-group-text{
    background: #fff;
    border: 1px solid #ced4da;
}
.register-section .border-right-unset{
    border-right: unset !important;
    border-radius: 4px 0 0 4px !important;
}
.register-section .border-left-unset{
    border-left: unset !important;
    border-radius: 4px !important;
}
.register-section .css-1okebmr-indicatorSeparator{
    background: transparent;
}
.register-section .css-1wa3eu0-placeholder{
    color: #C4C4CE !important;
}
@media only screen and (min-device-width: 992px){
    .register-section-cointainer .container { 
        transform: unset !important;
        padding:0px !important;
        margin-right:unset !important;
        margin-left:unset !important;
        max-width:unset !important;
        padding-bottom: 0px !important;
    }
    .register-section-cointainer 
    {
        transform: unset !important; 
        background:unset !important; 
        background-repeat: no-repeat !important; 
        border-radius: unset !important;
    }
    .register-section{
        padding :50px;
        padding-bottom: 0px !important;
    }
    .reg-message-section-2 { 
        transform: rotate(0deg);
        background-color: #3445CF;
        height: 1440px;
        padding: 0px;
        bottom:-8%;
        border-radius: 0px 100px 0px 0px;
    }
    .reg-message-section { 
        transform: rotate(-10deg);
        background: #3445cf33;
        height: 1040px;
        padding-right: 54px;
        border-radius: 0px 100px 0px 0px;
        left: -10%;
    }
    .register-section-cointainer .text-rotate{
        transform: rotate(10deg);
        padding-top: 250px;
        text-align: center;
        width: 55%;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 34px;
        text-align: center;
        color: #FFFFFF;
        margin-left: 35%;
    }
    .bck-white-text{
        background: #FFFFFF;
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        align-items: center;
        text-align: center;
        color: #3445CF;
        padding: 13px 82px;
    }
    .signup-text{
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 32px;
        text-align: center;
        color: #FFFFFF;        
    }
    .login-button{
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
        border-radius: 4px;
    }
}
.alreadysign{
    display: none;
}
.margin-bottom-20
{
    margin-bottom: 20px;
}
.hide_on_desktop{
    display: none;
}
.register-section-cointainer .hide_on_mobile{
    display: block;
}
.register-section-cointainer .form-check{
    width: 20px;
    float: left;
}
.register-section-cointainer .agree_text{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 0px;
    color: #2D3344;
    opacity: 0.5;
    margin-left: 10px;
}
.register-section-cointainer .country_code{
    background-color: #fff0;
    border: solid 1px #C4C4CE;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #495057;
    height: 52px;
    border-right: none;
    border-radius: 4px 0px 0px 4px;
    padding-left: 20px;
}
.register-section-cointainer .country_input{
    border-left: none;
    border-radius: 4px 0px 0px 4px;
}
.agree_div{
    text-align: left;
}
.country{
    background: #FFFFFF;
    border: 1px solid rgba(173, 178, 186, 0.6);
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    height: 52px;
    padding-left: 10px;
    color: #495057;
}
.signup_button{
    margin-bottom: 15%;
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1023px) {
    .alreadysign{
        display: block;
    }
    .register-section-cointainer .hide_on_mobile{
        display: none !important;
    }
    .hide_on_desktop{
        display: block !important;
    }
    .register-section-cointainer .margin-top-50 {
        margin-top: 0px;
    }
    .register-section .card .form-label{
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
    }
    .register-section .card .form-label a{
        font-family: Lato;
        font-style: normal;
        font-weight: 800;
        font-size: 16px;
        line-height: 26px;
        color: #3445CF;
    }
    .signup_button{
        text-align: center;
    }
    .register-header-text{
        text-align: center;
    }
    .register-section-cointainer{
        padding: 0 0;
        margin-top: 55px;
    }
    .hide_mobile{
        display: none;
    }
    .register-section-cointainer .padding-top-bottom-50{
        padding-top: 0;
    }
    .agree_div{
        padding-left: 30%;
    }
}
@media only screen and (min-device-width : 481px) and (max-device-width : 767px) {
    .alreadysign{
        display: block;
    }
    .hide_on_mobile{
        display: none !important;
    }
    .hide_on_desktop{
        display: block !important;
    }
    .register-section-cointainer .margin-top-50 {
        margin-top: 0px;
    }
    .register-section .card .form-label{
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
    }
    .register-section .card .form-label a{
        font-family: Lato;
        font-style: normal;
        font-weight: 800;
        font-size: 16px;
        line-height: 26px;
        color: #3445CF;
    }
    .signup_button{
        text-align: center;
    }
    .register-header-text{
        text-align: center;
    }
    .register-section-cointainer {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .hide_mobile{
        display: none;
    }
    .agree_div{
        padding-left: 30px;
    }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .alreadysign{
        display: block;
    }
    .hide_mobile{
        display: none;
    }
    .hide_on_mobile{
        display: none !important;
    }
    .hide_on_desktop{
        display: block !important;
    }
    .register-section-cointainer .margin-top-50 {
        margin-top: 0px;
    }
    .register-section .card .form-label{
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
    }
    .register-section .card .form-label a{
        font-family: Lato;
        font-style: normal;
        font-weight: 800;
        font-size: 16px;
        line-height: 26px;
        color: #3445CF;
    }
    .signup_button{
        text-align: center;
    }
    .register-header-text{
        text-align: center;
    }
    .register-section-cointainer {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .agree_div{
        padding-left: 30px;
    }
}

   /* iPads (landscape) ----------- */
   @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /* Styles */
    .alreadysign{
        display: none;
    }
    .hide_mobile{
        display: block;
    }
    .register-section-cointainer .container { 
        transform: unset !important;
        padding:0px !important;
        margin-right:unset !important;
        margin-left:unset !important;
        max-width:unset !important;
        padding-bottom: 0px !important;
    }
    .register-section-cointainer 
    {
        transform: unset !important; 
        background:unset !important; 
        background-repeat: no-repeat !important; 
        border-radius: unset !important;
        padding: 0 !important;
        margin-top: 0 !important;
    }
    .register-section{
        padding :50px;
        padding-bottom: 0px !important;
    }
    .reg-message-section-2 { 
        transform: rotate(0deg);
        background-color: #3445CF;
        height: 1130px;
        padding: 0px;
        bottom:-95px;

        border-radius: 0px 100px 0px 0px;
    }
    .reg-message-section {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
        background: rgba(52,69,207,.2);
        height: 1172px;
        padding-right: 54px;
        border-radius: 0 100px 0 0;
        left: -10%;
        bottom: -100px;
    }
    .register-section-cointainer .text-rotate{
        transform: rotate(10deg);
        padding-top: 250px;
        text-align: center;
        width: 55%;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 34px;
        text-align: center;
        color: #FFFFFF;
        margin-left: 35%;
    }
    .bck-white-text{
        background: #FFFFFF;
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        align-items: center;
        text-align: center;
        color: #3445CF;
        padding: 13px 82px;
    }
    .signup-text{
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 32px;
        text-align: center;
        color: #FFFFFF;        
    }
    .login-button{
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
        border-radius: 4px;
    }
    }