.trading-hestory .rdt_TableCell {
  padding: 0 !important;
}
.trading_table{
  padding: 16px;
  background-color: rgba(255, 211, 0, 0.25);
  color: #000000;
  width: 100%; 
  height: 100%;
}
.trading_table_red{
  padding: 16px;
  background-color: rgba(248, 81, 37, 0.25);
  color: #000000;
  width: 100%; 
  height: 100%;
}
.trading_table_green{
  padding: 16px; 
  background-color: rgba(40, 207, 117, 0.25);
  color: #000000;
   width: 100%;
    height: 100%;
}
.margin-top-70{
  margin-top: 70px;
}
.all_trades_button.active{
  border-color: unset;
  background-color: #FC7342;
  color: #ffffff;
}
.all_trades_button{
  border: solid 1px #3538d0;
  margin: 5px;
}
.all_trades_button:hover{
  border: solid 1px #FC7342;
  background-color: #FC7342;
  color: #ffffff;
}
.all_trades_button:focus{
  border-color: unset;
  box-shadow: none;
}