.profile-wrapper{
    flex-direction: row;
    display: flex;
    width: 100%;
    margin-top: 15px;
}
.main-container{
    padding: 2px 15px;
    margin-top: 50px;
    font-family: Montserrat !important;
}
.profile{
    width: 100%;
    background-color: #fff;
    padding: 4px 12px;
    box-shadow: -1px 3px 24px #3538d014;
    border-radius:5px;
}
.profile-email{
    background-color: #fff;  
}
.profile-details{
    background-color: #fff;
    box-shadow: -1px 3px 24px #3538d014;
    border-radius:5px;
}
.profile-form{
    padding: 4px 12px;
}
.form-label{
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    font-family: Lato;
    color: #95969E;
}
.input-group-text{
    border: 1px solid #ced4da3d;
}
.form-input{
    display: block;
    width: 100%;
    height: 50px;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da3d;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-labels{
    font-weight: bold;
    font-family: Lato;
    color:#95969E;
}
.header-verify{
    font-weight: bold;
    font-family: Lato;
}
.header-verify-text{
    font-weight: bold;
    font-family: Lato;
    color:#2D3344;
}
.profile-verify{
    float: right;
}
.row-margin{
    margin-bottom: 16px;
    padding: 0px 18px;
}
.profile-circle{
    height: 100px;
    width: 100px;
    background-color: #dedeef7a;
    border-radius: 50%;
    margin: 0px auto;
}
.btn-verify{
    background-color: #3538D0;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #3538D0;
    padding: 10px 30px;
}
.label-container{
   text-align: center;
}
 .sub-label{
    font-size: 14px;
    font-weight: bold;
    font-family: Lato;
 }
 .personal-img{
    padding: 20px;
    width: 150px;
 }
 .margin-dec{
     margin-bottom:0rem !important;
 }
 .profile-img{
    background-color: #3538d0;
    border-radius: 20px;
    float: right;
    margin-right: 10px;
 }
 .profile-text{
    text-align: center;
    font-weight: bold;
    font-family: Lato;
    font-size:40px;
    color:#3538d0;
 }
  .profile_photo_div .custom-file-div{
    padding: 0 100px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    padding: 13px 20px;
      height: 52px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
  }
  .profile_photo_div .custom-file-div img{
    margin-right: 15px;
  }
  .profile_photo_input{
    display: none;
  }
  .profile_photo_div {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100% !important;
    margin-bottom: 0;
    border-radius: 50%;
  }
  .profile_photo_div .profile_photo_label::before {
    display: none;
  }
  .profile_photo_div .profile_photo_label::after {
    display: none;
  }
  .profile_photo_div .profile_photo_label{
    padding: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 22px;
    font-size: 40px;
    color: blue;
    border-radius: 50%;
  }
  .loader_profile {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #00000073;
    top: 0;
    left: 0;
}
.loader_profile div{
    margin: auto;
    top: 50%;
    position: absolute;
    left: 50%;
}
.profile-email{
    word-break: break-word;
}