#compliance_page{
  background-color: rgba(236, 239, 245, 0.3);
  padding: 5% 0;
  
}
#compliance_page .container{
  position: relative;
}
.form_colum{
  float: left;
  width: 48%;
  background-color: #ffffff;
  padding: 70px 30px 0px 30px;
  z-index: 1;
  position: relative;
  margin: 10px;
}
.form_colum1{
  float: left;
  width: 48%;
  z-index: 1;
  margin: 10px;
  position: relative;
}
.heading{
  position: relative;
  margin-bottom: 66px;
}
.back{
  background-color: rgba(52, 69, 207, 0.03);
  width: 100px;
  height: 40px;
  border: solid 1px rgba(52, 69, 207, 0.03);
  border-radius: 0px 42px;
  position: absolute;
  top: -2px;
  left: 42%;
}
.heading h2{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 34px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #2D3344;
  text-align: center;
  
}
.field_width{
  width: 48%;
  float: left;
  margin-right: 18px;
}
.field_width1{
  width: 48%;
  float: left;
}
#compliance_page .form_container label{
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 34px;
  color: #2D3344;
}
#compliance_page .form_container h4{
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 34px;
  color: #2D3344;
}

#compliance_page .form_container input{
 height: 52px;
 background: #FFFFFF;
  border: 1px solid rgba(173, 178, 186, 0.6);
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 0px;
}
.background_div{
  position: absolute;
  width: 840px;
  height: 610px;
  left: -152px;
  bottom: 52px;
  background: rgba(52, 69, 207, 0.1);
  transform: rotate(-12deg);
  border-radius: 0 0 0 80px;
  z-index: 0;
}
.dots_img{
  transform: rotate(12deg);
  padding-top: 50%;
  padding-left: 17%;
}
.form_card{
  background-color: #fff;
  padding: 26px 20px 26px 20px;
  margin-bottom: 20px;
}
.form_card p{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FC4263;
}
.form_card2{
  background-color: #fff;
  padding: 26px 20px 1px 20px;
  margin-bottom: 20px;
}
.form_card2 p{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FC4263;
}
.custom-file .images{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #2D3344;
  bottom: -15px;
  position: absolute;
  z-index: 1;
}
.custom-file .images img{
  margin-left: 10px;
}

.custom-file-label{
  padding: 0 100px;
  color: #C4C4CE !important;
}
.custom-file-div{
  padding: 0 100px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  padding: 13px 20px;
    height: 52px;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}
.custom-file-div img{
  margin-right: 15px;
}
.custom-file-label::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 18px;
  bottom: 7px;
  z-index: 3;
  display: block;
  padding: 5px 10px;
  background-image: url('../../images/bttn.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 70px;
  height: 25px;
  border-left: none;
}
.custom-file-label::after {
  display: none;
}
.custom-file-input{
  display: none;
}
.custom-file {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 65px !important;
  margin-bottom: 0;
}
.submit_button{
  text-align: center;
  position: relative;
  z-index: 1;
}
.button_submit{
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  background-color: #FC7342;
  border-color: #FC7342;
  padding: 15px 60px;
  width: 220px;
  height: 52px;
}
.button_submit:hover{
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  background-color: #FC7342;
  border-color: #FC7342;
  padding: 15px 60px;
  width: 220px;
  height: 52px;
}
.button_submit:disabled {
  background-color: #eceff5 !important;
  border-radius: 4px;
  border-color: #eceff5 !important;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #797F8B;
  opacity: 1;
  width: 220px;
  height: 52px;
}
#margin_bottom_last{
  margin-bottom: 10%;
}
.phn_country{
  position: relative;
  clear: both;
}
.country_div{
  position: absolute;
    bottom: 14px;
    left: 9px;
}
.country_div .country_code{
  background-color: #fff;
  border: none;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #495057;
}

#compliance_page .form-group input::placeholder {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #C4C4CE;
}

#compliance_page .form-group input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #C4C4CE;
}

#compliance_page .form-group input::-ms-input-placeholder { /* Microsoft Edge */
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #C4C4CE;
}
#phonenumber{
  padding: 0 0 0 100px;
}
#phonenumberopt{
  padding: 0 0 0 100px;
}
.counrty_field{
  position: relative;
}
.counrty_field .country_div_field{
  position: absolute;
  background: #FFFFFF;
  border: 1px solid rgba(173, 178, 186, 0.6);
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 26px;
}
.counrty_field .country_div_field .country_code_tag{
  width: 99%;
    height: 52px;
    left: 2px;
    position: relative;
    background-color: #fff;
    border: none;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #495057;
}
.loader_image{
  background: #fff;
  position: relative;
  z-index: 999;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .counrty_field .country_div_field{
    width: 100%;
  }
  .counrty_field .country_div_field .country_code_tag{
    width: 98%;
    left: 5px;
  }
.form_colum {
  float: unset;
  width: 100%;
  padding: 20px;
  margin: 0;
  margin-bottom: 20px;
  height: 860px;
}
.heading {
  display: none;
}
.field_width {
  width: 100%;
  float: unset;
  margin-right: 0;
}
.field_width1 {
  width: 100%;
  float: unset;
}
.form_colum1 {
  float: unset;
  width: 100%;
  margin: 0;
}
.custom-file {
  height: 41px !important;
  margin: 0 0 36px 0;
}
.custom-file-label {
  padding: 0 0 0 100px;
}
.custom-file .images {
  bottom: -47px;
  position: relative;
  margin: 0;
}
#compliance_page {
  overflow: hidden;
}
.dots_img {
 display: none;
}
.background_div {
  height: 614px;
  left: -150px;
}
#margin_bottom_last {
  margin-bottom: 0;
}
.custom-height{
  height: 340px;
}
.custom-file-div{
  font-size: 11px;
  padding: 10px 20px;
  height: 45px;
}
}


@media only screen and (min-device-width : 481px) and (max-device-width : 767px) {
  .counrty_field .country_div_field .country_code_tag{
    width: 98%;
    left: 5px;
  }
  .form_colum {
    float: unset;
    width: 100%;
    padding: 20px;
    margin: 0;
    margin-bottom: 20px;
    height: 860px;
  }
  .heading {
    display: none;
  }
  .field_width {
    width: 100%;
    float: unset;
    margin-right: 0;
  }
  .field_width1 {
    width: 100%;
    float: unset;
  }
  .form_colum1 {
    float: unset;
    width: 100%;
    margin: 0;
  }
  .custom-file {
    height: 41px !important;
    margin: 0 0 36px 0;
  }
  .custom-file-label {
    padding: 0 0 0 100px;
  }
  .custom-file .images {
    bottom: -47px;
    position: relative;
    margin: 0;
  }
  .custom-file-label {
    padding: 0 0 0 100px;
  }
  #compliance_page {
    overflow: hidden;
  }
  .dots_img {
   display: none;
  }
  .background_div {
    height: 614px;
    left: -150px;
  }
  #margin_bottom_last {
    margin-bottom: 0;
  }
  .custom-height{
    height: 340px;
  }
  .custom-file-div{
    font-size: 11px;
    padding: 10px 20px;
    height: 45px;
  }
  .counrty_field .country_div_field {
    width: 100%;
}
  }

  @media only screen and (min-device-width : 768px) and (max-device-width : 1023px) {
    .form_colum {
      float: unset;
      width: 100%;
      padding: 50px;
      margin: 0 0 20px 0;
      height: 1000px;
  }
    .heading {
      display: block;
    }
    .field_width {
      width: 100%;
      float: unset;
      margin-right: 0;
    }
    .field_width1 {
      width: 100%;
      float: unset;
    }
    .form_colum1 {
      float: unset;
      width: 100%;
      margin: 10px 0 0 0;
    }
    .custom-file-label {
      padding: 0 93px;
    }
    #compliance_page {
      overflow: hidden;
    }
    .dots_img {
      -webkit-transform: rotate(12deg);
      transform: rotate(12deg);
      padding-top: 56%;
      padding-left: 11%;
  }
    .background_div {
      height: 614px;
      left: -150px;
    }
    .form_card {
      padding: 50px 50px 1px 50px;
  }
  .form_card2 {
    padding: 50px 50px 1px 50px;
}
  .counrty_field .country_div_field {
    width: 100%;
}
    }

    .img_type_err {
      color: red !important;
    }