.how_do_work{
    margin-top: 50px;
}
.padding-top-15{
    padding-top: 15px;
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .how_do_work{
        margin-top: 0px;
    }
    .order-class:nth-child(2n+1) {
        order: 2;
    }
    
    .asset-order:nth-child(1) {
        order: 2;
    }
    .asset-order:nth-child(2) {
        order: 1;
    }
    .asset-order:nth-child(3) {
        order: 3;
    }
    .asset-order:nth-child(4) {
        order: 4;
    }
    .principal-img{
        width: 50%;
        text-align: center;
    }
    #how_it_work{
        margin-top: 30px;
    }   
    .how_do_img{
        margin-top: 30px;
    }
    }
    
    @media only screen and (min-device-width : 481px) and (max-device-width : 767px) {
        .how_do_work{
            margin-top: 0px;
        }
        .principal-img{
            width: 50%;
            text-align: center;
        }
        #how_it_work{
            margin-top: 30px;
        }
        .how_do_img{
            margin-top: 30px;
        }
        
    }
    /* Smartphones (landscape) ----------- */
    @media only screen and (min-width : 321px) {
    /* Styles */
    }
    
    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
    /* Styles */
    }
    
    /* iPads (portrait and landscape) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1023px) {
        .hide_on_mobile{
            display: none;
        }
        .asset-img {
            width: 100% !important;
        }
        .principal-img{
            width: 50%;
            text-align: center;
        }
        #how_it_work{
            margin-top: 30px;
        }
        .how_do_img{
            margin-top: 30px;
        }
        
    }
    
    /* iPads (landscape) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /* Styles */
    .asset-img {
        width: 50% !important;
    }
    .how_do_img{
        width: 100%;
    }
    }
    
    /* iPads (portrait) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
        .order-class:nth-child(2n+1) {
            order: 2;
        }
        
        .asset-order:nth-child(1) {
            order: 2;
        }
        .asset-order:nth-child(2) {
            order: 1;
        }
        .asset-order:nth-child(3) {
            order: 3;
        }
        .asset-order:nth-child(4) {
            order: 4;
        }
    }
    /**********
    iPad 3
    **********/
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }
    
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }
    /* Desktops and laptops ----------- */
    @media only screen  and (min-width : 1224px) {
    /* Styles */
    }
    
    /* Large screens ----------- */
    @media only screen  and (min-width : 1824px) {
    /* Styles */
    }
