.header2 {
    color: #2D3344 !important;
}

.ml_15px {
    margin-left: auto !important;
}

.header2 li {
    margin: 10px;
}

.header2 li:last-child {
    margin-right: 0px;
}

.header2 li a.active:before {
    content      : "";
    position     : absolute;
    width        : 30px;
    height       : 1px;
    bottom       : 0;
    left         : 10px;
    border-bottom: 2px solid #3445CF;

}
.header2 .show.dropdown.nav-item .show a:before{
    display: none;
}
.header2 li a.nav-link.active {
    color: #2D3344 !important;
}

.header2 li a.purple-text {
    color      : #3445CF !important;
    font-size  : 18px;
    font-style : normal;
    font-weight: bold;
    font-size  : 18px;
    line-height: 22px;
    font-family: Montserrat;
}

.header2 a.nav-link {
    font-family   : Lato;
    color         : rgba(0, 0, 0, .6) !important;
    font-style    : normal;
    font-weight   : bold;
    font-size     : 14px;
    line-height   : 17px;
    padding-bottom: 5px;
    position      : relative;
    cursor        : pointer;
    padding       : 10px;
}

.navbar-brand img {
    width : 150px !important;
    height: 34px !important;
}

.btn-signup {
    background-color: #fff !important;
    color           : #3445CF !important;
    border-radius   : 4px !important;
    font-weight     : bold !important;
    font-size       : 14px !important;
    padding         : 8px 26px;
}

#collapsibleNavbar .nav-item {
    padding: 10px;
}


.banner-text h1 {
    font-family: Montserrat;
    font-style : normal;
    font-weight: bold;
    font-size  : 56px;
    line-height: 68px;
    margin-left: -5px;
}

.banner-text p {
    font-family: Lato;
    font-style : normal;
    font-weight: normal;
    font-size  : 18px;
    line-height: 34px;
    color      : #2D3344;
}

a.btn-learn-more {
    background   : #FC7342;
    border-radius: 4px;
    font-family  : Lato;
    font-style   : normal;
    font-weight  : bold;
    font-size    : 18px;
    line-height  : 22px;
    align-items  : center;
    text-align   : center;
    color        : #FFFFFF;
    padding      : 10px 50px;
}

a#dropdown-menu-align-right .pull-left {
    text-transform: capitalize;
}

.header2 .dropdown-toggle::after {
    margin-top: 11px;
}

.hidden {
    display: none;
}

.margin-left-50 {
    margin-left: 50px !important;
}
.header_text {
    font-size: 16px;
    margin: 2px;
}

@media (max-width: 992px) {
    .header {
        background-size: 860px 720px !important;
    }

}

.header2_mobile {
    display: none;
}

.cross {
    width              : 20px;
    height             : 20px;
    z-index            : 1;
    position           : relative;
    background-repeat  : no-repeat;
}

.mobile_menu_icon {
    width              : 20px;
    height             : 20px;
    z-index            : 1;
    position           : relative;
    background-repeat  : no-repeat;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .header_text {
        font-size: 16px;
        margin: 2px;
    }
    .container {
        padding      : unset !important;
        padding-right: 15px !important;
        padding-left : 15px !important;
    }

    .header2 {
        display: none;
    }

    .header2_mobile {
        display: block;
    }

    .header2_mobile .navbar-brand {
        z-index : 1;
        position: relative;
    }

    .header2_mobile .navbar-toggler {
        z-index: 1;
    }

    .header2_mobile #basic-navbar-nav {
        background-color: #fff;
        margin-top      : -62px;
        z-index         : 0;
        position        : relative;
        padding-top     : 65px;
    }

    .header2_mobile #basic-navbar-nav .navbar-nav .nav-item {
        text-align: center;
    }

    .header2_mobile li a.active:before {
        content      : "";
        position     : absolute;
        width        : 30px;
        height       : 1px;
        bottom       : 0;
        left         : 45%;
        border-bottom: 2px solid #3445CF;
    }

    .header2_mobile a.nav-link {
        font-family: Lato;
        font-style : normal;
        font-weight: bold;
        font-size  : 16px;
        line-height: 19px;
        color      : #2D3344;
        position   : relative;
    }

    .header2_mobile a.active {
        font-family: Lato;
        font-style : normal;
        font-weight: bold;
        font-size  : 16px;
        line-height: 19px;
        color      : #2D3344;
    }

    .header2_mobile li.nav-item {
        margin-bottom: 24px;
    }

    /* menu */

    .menu {
        width     : 100%;
        text-align: center;
    }

    .btn-signup {
        background-color: #FC7342 !important;
        color           : #fff !important;
        border-radius   : 4px !important;
        font-weight     : bold !important;
        font-size       : 18px !important;
        padding         : 12px 76px;
    }
    .hide_mobile{
        display: none !important;
    }
}

@media only screen and (min-device-width : 481px) and (max-device-width : 767px) {
    .header_text {
        font-size: 16px;
        margin: 2px;
    }
    .container {
        padding      : unset !important;
        padding-right: 15px !important;
        padding-left : 15px !important;
    }

    .header2 {
        display: none;
    }

    .header2_mobile {
        display: block;
    }

    .header2_mobile .navbar-brand {
        z-index : 1;
        position: relative;
    }
    .header2_mobile .navbar-toggler {
        z-index: 1;
    }

    .header2_mobile #basic-navbar-nav {
        background-color: #fff;
        margin-top      : -62px;
        z-index         : 0;
        position        : relative;
        padding-top     : 65px;
    }

    .header2_mobile #basic-navbar-nav .navbar-nav .nav-item {
        text-align: center;
    }

    .header2_mobile li a.active:before {
        content      : "";
        position     : absolute;
        width        : 30px;
        height       : 1px;
        bottom       : 0;
        left         : 47%;
        border-bottom: 2px solid #3445CF;
    }

    .header2_mobile a.nav-link {
        font-family: Lato;
        font-style : normal;
        font-weight: bold;
        font-size  : 16px;
        line-height: 19px;
        color      : #2D3344;
        position   : relative;
    }

    .header2_mobile a.active {
        font-family: Lato;
        font-style : normal;
        font-weight: bold;
        font-size  : 16px;
        line-height: 19px;
        color      : #2D3344;
    }

    .header2_mobile li.nav-item {
        margin-bottom: 24px;
    }

    /* menu */
    .menu {
        width     : 100%;
        text-align: center;
    }

    .btn-signup {
        background-color: #FC7342 !important;
        color           : #fff !important;
        border-radius   : 4px !important;
        font-weight     : bold !important;
        font-size       : 18px !important;
        padding         : 12px 76px;
    }
    .hide_mobile{
        display: none !important;
    }

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1023px) {
    .container {
        padding-right: 15px !important;
        padding-left : 15px !important;
    }

    .header2 {
        display: none;
    }

    .header2_mobile {
        display: block;
    }

    .header2_mobile .navbar-brand {
        z-index : 1;
        position: relative;
    }

    .header2_mobile .navbar-toggler {
        z-index: 1;
    }

    .header2_mobile #basic-navbar-nav {
        background-color: #fff;
        margin-top      : -62px;
        z-index         : 0;
        position        : relative;
        padding-top     : 65px;
    }

    .header2_mobile #basic-navbar-nav .navbar-nav .nav-item {
        text-align: center;
    }

    .header2_mobile li a.active:before {
        content      : "";
        position     : absolute;
        width        : 30px;
        height       : 1px;
        bottom       : 0;
        left         : 48%;
        border-bottom: 2px solid #3445CF;
    }

    .header2_mobile a.nav-link {
        font-family: Lato;
        font-style : normal;
        font-weight: bold;
        font-size  : 16px;
        line-height: 19px;
        color      : #2D3344;
        position   : relative;
    }

    .header2_mobile a.active {
        font-family: Lato;
        font-style : normal;
        font-weight: bold;
        font-size  : 16px;
        line-height: 19px;
        color      : #2D3344;
    }

    .header2_mobile li.nav-item {
        margin-bottom: 24px;
    }

    /* menu */
    .menu {
        width     : 100%;
        text-align: center;
    }

    .btn-signup {
        background-color: #FC7342 !important;
        color           : #fff !important;
        border-radius   : 4px !important;
        font-weight     : bold !important;
        font-size       : 18px !important;
        padding         : 12px 76px;
    }
    .hide_mobile{
        display: none !important;
    }

}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

    /* Styles */
    .mobile_menu_icon {
        position: absolute !important;
        right   : 0 !important;
    }

    .cross {
        position: absolute !important;
        right   : 0 !important;
    }

    .menu {
        z-index: 1 !important;
    }
    .hide_mobile{
        display: none !important;
    }
    .header_text {
        font-size: 14px;
    }
}

.btn-deposit {
    background-color: #FC7342 !important;
    color           : #fff !important;
    border-radius   : 4px !important;
    font-weight     : bold !important;
    font-size       : 18px !important;
    padding         : 6px 20px;
}

.all-balances-header .row {
    background-color: #3538d0;
    color           : #fff;
}