.withdraw-request-section{
    box-shadow: 0px 2px 18px -7px rgba(0, 0, 0, 0.1);
    background-color: #fff; 
}
.withdraw-request-section .card{
    border: unset;
}
.method{
    width: 100%;
    background-color: #fff0;
    font-family: Lato !important;
    font-style: normal;
    font-weight: bold !important;
    font-size: 12px;
    line-height: 14px;
    color: #95969E !important;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ced4da;
}
.comment{
    margin-bottom: 20px;
}
.withdrawal_div{
    position: relative;
}
.withdrawal_div p{
    position: absolute;
    top: 33px;
    color: #95969E;
    right: 11px;
    margin: 0;
    padding: 5px;
    z-index: 1;
    background-color: #fff;
}
.withdrawal_div #amount{
    -webkit-appearance: unset;
    -moz-appearance: textfield;
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1023px) {
.withrawal-body .margin-bottom-100 {
    margin-bottom: 50px;
}
.withrawal-body .paragraph-color{
    margin-bottom: 30px;
}
}