.forgot-section-cointainer .btn-signup-custom{
    background-color: #FC7342 !important;
    border-color: #FC7342 !important;
    padding: 15px 89px;
}
.forgot-section-cointainer .btn.btn-signup-custom:disabled {
    background-color: #eceff5 !important;
    border-radius: 4px;
    border-color: #eceff5 !important;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #797F8B;
    opacity: 1;
}
.forgot-header-text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #2D3344;
}
.forgot-section .card-body{
    padding:0px;
}
.forgot-section p{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 34px;
    color: #2D3344;
}
.forgot-section .card{
    border:unset;
    box-shadow: unset !important;
    border-radius: 4px;
    background: transparent;
}
.forgot-section .card .form-label {
    padding-top: 15px;
    width: 100%;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 34px;
    color: #495057;
}
.forgot-link{
    font-family: Lato;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 34px;
    color: #3445CF !important;
}
.forgot-link:hover{
    color: #3445CF !important;
}
.forgot-link:active{
    color: #3445CF !important;
}
.forgot-section .card .form-check-label{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 34px;
    padding-left: 5px;
    color:#2d334480;
}
.forgot-section .dark-signup{
    font-weight: bold;
    color:#2D3344;
}
.forgot-section .card .form-check-input{
    width:20px;
    height:20px;
    line-height: 34px;
    margin-top: 7px;
    margin-right: 5px;
}
.forgot-section .card .form-control{
    height: 52px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #495057 !important;
}
.forgot-section-cointainer .padding-top-bottom-50{
    padding-top: 50px;
    padding-bottom: 100px;
}
@media only screen and (min-device-width: 992px){
    .forgot-section-cointainer .container { 
        transform: unset !important;
        padding:0px !important;
        margin-right:unset !important;
        margin-left:unset !important;
        max-width:unset !important;
    }
    .forgot-section-cointainer 
    {
        transform: unset !important; 
        background:unset !important; 
        background-repeat: no-repeat !important; 
        border-radius: unset !important;
    }
    .forgot-section{
        padding :50px;
        padding-bottom: 0px !important;
        padding-top: 210px !important;
    }
    .forgot-section-cointainer .message-section-2 { 
        transform: rotate(0deg);
        background-color: #3445CF;
        height: 896px;
        padding: 0px;
        border-radius: 0px 0px 0px 100px;
        top: -71px;
        left: 50px;
    }
    .forgot-section-cointainer .message-section { 
        transform: rotate(-12deg);
        background: #3445cf33;
        top: -150px;
        height: 924px;
        padding-right: 0px;
        border-radius: 0px 0px 0px 100px;
        left: 31px;
    }
    .forgot-section-cointainer .text-rotate{
        transform: rotate(12deg);
        padding-top: 380px;
        text-align: center;
        width: 55%;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 34px;
        text-align: center;
        color: #FFFFFF;
        margin-left: 18%;
    }
    .bck-white-text{
        background: #FFFFFF;
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        align-items: center;
        text-align: center;
        color: #3445CF;
        padding: 13px 82px;
    }
    .signup-text{
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 32px;
        text-align: center;
        color: #FFFFFF;        
    }
    .login-button{
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
        border-radius: 4px;
    }
}
.margin-bottom-20
{
    margin-bottom: 20px;
}
.forgot-section-cointainer .anchor-signup{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    align-items: center;
    text-align: center;
    display: unset;
    color: #3445CF;
}
.anchor-signup:hover{
    color: #3445CF;
}
.forgot-section-cointainer .forgot-section p {
    text-align: left !important;
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1023px) {
    .forgot-section-cointainer .forgot-header-text {
        font-size: 32px;
        text-align: center !important;
    }
    .forgot-section-cointainer .forgot-section p {
        text-align: center !important;
    }
   .forgot-section-cointainer .message-section {
       display: none;
        -webkit-transform: rotate(-12deg);
        transform: rotate(-12deg);
        background:
        #3445cf33;
        padding-left: 0px;
        padding-top: 125px;
        margin-top: -30%;
        top: -150px;
        height: 575px;
        padding-right: 0px;
        border-radius: 0px 0px 0px 100px;
        left: 30px;
    }
    .forgot-section-cointainer .message-section-2 {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        background-color:
        #3445CF;
        height: 490px;
        padding: 0px;
        border-radius: 0px 0px 0px 100px;
        top: -71px;
        left: 35px;
    }
    .forgot-section-cointainer .text-rotate {
        -webkit-transform: rotate(12deg);
        transform: rotate(12deg);
        padding-top: 270px;
        color: white;
        text-align: center;
        width: 55%;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 34px;
        text-align: center;
        color: 
        #FFFFFF;
        margin-left: 20%;
    }
    .forgot-section-cointainer .btn.btn-signup-custom {
        margin-top: 50px;
    }
    .forgot-section-cointainer {
        transform: skew(0deg, -2deg);
        background: #f9fafe;
        background-repeat: no-repeat;
        border-radius: 0px 104px 0px 104px;
        padding: 10% 0;
        margin-top: 55px;
    }
    .forgot-section-cointainer .forget_button{
        text-align: center;
    }
    .forgot-section-cointainer .return_to_login{
        text-align: center !important;
    }

}

@media only screen and (min-device-width : 481px) and (max-device-width : 767px) {
    .forgot-section-cointainer {
        transform: skew(0deg, -2deg);
        background: #f9fafe;
        background-repeat: no-repeat;
        border-radius: 0px 104px 0px 104px;
        padding: 5% 0;
        margin-top: 55px;
    }
    .forgot-header-text {
        text-align: center !important;
    }
    .forgot-section-cointainer .forgot-section p {
        text-align: center !important;
    }
    .forgot-section-cointainer .btn.btn-signup-custom {
        margin-top: 50px;
    }
    .forget_button{
        text-align: center;
    }
    .forgot-section-cointainer .return_to_login{
        text-align: center;
    }
    .forgot-section-cointainer .anchor-signup{
        display: block !important;
        margin-bottom: 30px;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
.forgot-section-cointainer {
    transform: skew(0deg, -2deg);
        background: #f9fafe;
        background-repeat: no-repeat;
        border-radius: 0px 104px 0px 104px;
    padding: 5% 0;
    margin-top: 55px;
}
.forgot-header-text {
    text-align: center !important;
}
.forgot-section-cointainer .forgot-section p {
    text-align: center !important;
}
.forgot-section-cointainer .btn.btn-signup-custom {
    margin-top: 50px;
}
.forget_button{
    text-align: center;
}
.forgot-section-cointainer .return_to_login{
    text-align: center;
}
.forgot-section-cointainer .anchor-signup{
    display: block !important;
    margin-bottom: 30px;
}
}