.footer{
    padding-top: 20px;
    padding-bottom: 20px;
    color: #2D3344!important;
  }
  .footer p{
    color: #2D3344!important;
  }
  .footer a{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #2D3344;
  }
  .footer .social-link a{
    font-size: 16px !important;
  }
  .address-footer{
    font-size: 14px;
  }
 .footer .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}
.footer .navbar{
  padding-left: 14%;
}
.footer_menu{
  display: block;
  padding: 0;
}
.footer_menu li{
  display: inline-block;
}
.social-link{
  display: block;
  padding: 0;
}
.social-link li{
  display: inline-block;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .card-logo-section img{
        height: unset !important;
        margin: 5px 5px !important;
        width: 35px;
  }
  .footer .navbar{
    padding-left: 0;
  }
  .footer .navbar-brand{
   width: 100%;
   text-align: center;
   margin: 0 !important;
  }
  .footer .navbar-nav{
    width: 100%;
  }
  .footer .navbar-nav{
    width: 100%;
  }
  .footer .social-link li{
    display: inline-block !important;
  }
  .footer .social-link{
    display: block !important;
  }
  .footer_menu{
    margin: 30px 0;
    padding: 0;
  }
  .footer_menu li{
    display: block;
  }
}
@media only screen and (min-device-width : 481px) and (max-device-width : 767px) {
  .card-logo-section img{
    height: unset !important;
    margin: 5px 5px !important;
    width: 35px;
}
  .footer .navbar{
    padding-left: 0;
  }
  .footer .navbar-brand{
   width: 100%;
   text-align: center;
   margin: 0 !important;
  }
  .footer .navbar-nav{
    width: 100%;
  }
  .footer .social-link{
    display: block !important;
  }
  .footer .social-link li{
    display: inline-block !important;
  }
  .footer_menu{
    margin: 30px 0;
    padding: 0;
  }
  .footer_menu li{
    display: block;
  }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1023px) {
  .footer .navbar{
    padding-left: 0;
  }
  .footer .navbar-brand{
    width: 100%;
    text-align: center;
    margin: 0 !important;
   }
   .footer .social-link{
     display: block !important;
     margin-top: 20px;
   }
   .footer .social-link li{
     display: inline-block !important;
   }
   .footer_menu{
     margin-top: 20px;
     padding: 0;
   }
}
/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  /* Styles */
  .footer .navbar{
    padding-left: 65px;
  }
  .footer_menu{
    margin-top: 5px;
  }
  .social-link{
    margin-top: 5px;
  }
  .footer .social-link a{
    padding: 0;
    margin: 10px;
  }

}
.risk-warning-section {
  font-size: 12px;
}
.card-logo-section img{
  height: 40px;
  margin: 5px 35px;
}