.header{
    background: url(../../../images/bg.png) no-repeat !important;
    background-size: cover !important;    
    background-size: 72% 720px !important;
    background-position: right top !important;
    color: #2D3344 !important;
}
.header-height{
    height: 705px;
}

.header li{
    margin: 10px 5px;
}
.header li:last-child{
    margin-right: 0px;
}
.header .navbar{
    padding: .5rem 0rem .5rem 0rem;
    z-index: 1;
}
.header a.nav-link{
    font-family: LatoBold;
    color:white !important;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    cursor: pointer;
}

.btn-signup{
    background-color: #fff !important;
    color:#3445CF !important;
    border-radius:5px !important;
    font-weight: bold !important;
    font-size: 14px !important;
}
#collapsibleNavbar .nav-item{
    padding:10px;
}
.banner-style{
    overflow: hidden;
    word-break: break-word;
    width: 480px;
}
.banner-text{
    padding-top:200px;
    padding-bottom: 200px;
}

.banner-text h1{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 68px;
    margin-left: -5px;
}

.banner-text p{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 34px;
    color: #2D3344;
}

a.btn-learn-more{
    background: #FC7342;
    border-radius: 4px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    padding: 10px 50px;
}

.hidden{
    display: none;
}

.header .message-section-2 { 
    transform: rotate(0deg);
    background-color: #3445CF;
    height: 520px;
    padding: 0px;
    border-radius: 0px 0px 0px 100px;
    top: -71px;
    left: 50px;
}
.header .message-section { 
    transform: rotate(-12deg);
    background: #3445cf33;
    top: -150px;
    height: 505px;
    padding-right: 0px;
    border-radius: 0px 0px 0px 100px;
    left: 31px;
}
.header .text-rotate{
    transform: rotate(12deg);
    padding-top: 160px;
    text-align: center;
    width: 55%;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 34px;
    text-align: center;
    color: #FFFFFF;
    margin-left: 18%;
}
.mobile_view_header{
    display: none;
}
.desktop_view_menu{
    display: block;
}
.header .cross{
    width: 20px;
    height: 20px;
    z-index: 1;
    position: relative;
    background-image: url('../../../images/cancel.svg');
    background-repeat: no-repeat;
}
.header .mobile_menu_icon{
    width: 20px;
    height: 20px;
    z-index: 1;
    position: relative;
    background-image: url('../../../images/menu.svg');
    background-repeat: no-repeat;
}

@media (min-width: 1200px)
{
    .header{
        background-size: 72% 685px !important;
    }
}
.hide_mobile{
    display: block;
}


@media only screen and (min-device-width : 768px) and (max-device-width : 1023px) {
    .header .text-rotate{
        padding-top: 270px;
    }
    .banner-text h1{
        margin-left: 0px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 44px;
        text-align: center;
    }
    .desktop_view_menu{
        display: none;
    }
    .mobile_view_header{
        display: block;
    }
    .header .message-section { 
        display: none;
    }
    .header {
        background: unset !important;
        background-position: unset !important;
        color: unset !important;
    }
    .banner-style {
        transform: unset;
        overflow: unset;
        word-break: break-word;
        padding-left: unset;
        margin-left: unset;
        margin-bottom: 30px;
        padding-left: 0 !important;
        margin-top: 20px;
        width: 100%;
    }
    .banner-text p {
        font-size: 16px !important;
        line-height: 26px !important;
        text-align: center;
        margin-bottom: 30px;
    }
    .banner-text {
        padding-top: unset;
        padding-bottom: unset;
        -webkit-transform: unset;
        transform: unset;
        text-align: center;
    }
    .mobile_view_header a.nav-link {
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        color: #2D3344 !important;
        position: relative;
    }
    .mobile_view_header a.active {
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        color: #2D3344 !important;
    }
    .mobile_view_header li.nav-item{
        margin-bottom: 24px;
    }
    .menu {
        width: 100%;
        text-align: center;
    }
    .mobile_menu_icon i{
        display: none;
    }
    .cross i{
        display: none;
    }
    .hide_mobile{
        display: none !important;
    }
    .header li:last-child{
        margin-right: 0;
        margin-top: 26px;
    }
    .header li{
        margin: 0;
    }
    
}
@media only screen and (min-device-width : 481px) and (max-device-width : 767px) {
    .banner-text h1{
        margin-left: 0px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 36px !important;
        line-height: 44px;
        text-align: center;
    }
    .banner-text p {
        font-size: 16px !important;
        line-height: 26px !important;
        text-align: center;
        margin-bottom: 30px;
    }
    .banner-style {
        transform: unset;
        overflow: unset;
        word-break: break-word;
        padding-left: unset;
        margin-left: unset;
        margin-bottom: 30px;
        padding-left: 0 !important;
        margin-top: 0;
        width: 100%
    }
    .banner-text {
        padding-top: unset;
        padding-bottom: unset;
        -webkit-transform: unset;
        transform: unset;
        text-align: center;
        padding-top: 0px;
        padding-bottom: 0px;
        margin-top: 20px;
    }
    .header .message-section { 
        display: none;
    }
    .header {
        background: unset !important;
        background-position: unset !important;
        color: unset !important;
    }
    .header #basic-navbar-nav{
        background-color:#fff;
        margin-top: -62px;
        z-index: 0;
        position: relative;
        padding-top: 65px;
    } 
    .header #basic-navbar-nav .navbar-nav .nav-item{
        text-align: center;
    }
    .header li a.active:before {
        content: "";
        position: absolute;
        width: 30px;
        height: 1px;
        bottom: 0;
        left: 45%;
        border-bottom: 2px solid #3445CF;
    }
    .header a.nav-link {
        font-family: Lato;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #2D3344 !important;
        position: relative;
    }
    .header a.active {
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        color: #2D3344;
    }
    .header li.nav-item{
        margin-bottom: 24px;
    }
    .header .navbar-brand{
        z-index: 1;
        position: relative;
    }
    .header .navbar-toggler{
        z-index: 1;
    }  
    .desktop_view_menu{
        display: none;
    }
    .mobile_view_header{
        display: block;
    }
    .mobile_view_header a.nav-link {
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        color: #2D3344 !important;
        position: relative;
    }
    .mobile_view_header a.active {
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        color: #2D3344 !important;
    }
    .mobile_view_header li.nav-item{
        margin-bottom: 24px;
    }
    .menu {
        width: 100%;
        text-align: center;
    }
    .mobile_menu_icon i{
        display: none;
    }
    .cross i{
        display: none;
    }
    .hide_mobile{
        display: none;
    }
    .header li:last-child{
        margin-right: 0;
        margin-top: 26px;
    }
    .header li{
        margin: 0;
    }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .banner-text h1{
        margin-left: 0px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 36px !important;
        line-height: 44px;
        text-align: center;
    }
    .banner-text p {
        font-size: 16px !important;
        line-height: 26px !important;
        text-align: center;
        margin-bottom: 30px;
    }
    .banner-style {
        transform: unset;
        overflow: unset;
        word-break: break-word;
        padding-left: unset;
        margin-left: unset;
        margin-bottom: 30px;
        padding-left: 0 !important;
        margin-top: 0;
        width: 100%
    }
    .banner-text {
        padding-top: unset;
        padding-bottom: unset;
        -webkit-transform: unset;
        transform: unset;
        text-align: center;
        padding-top: 0px;
        padding-bottom: 0px;
        margin-top: 20px;
    }
    .header .message-section { 
        display: none;
    }
    .header {
        background: unset !important;
        background-position: unset !important;
        color: unset !important;
    }
    .header #basic-navbar-nav{
        background-color:#fff;
        margin-top: -62px;
        z-index: 0;
        position: relative;
        padding-top: 65px;
    } 
    .header #basic-navbar-nav .navbar-nav .nav-item{
        text-align: center;
    }
    .header li a.active:before {
        content: "";
        position: absolute;
        width: 30px;
        height: 1px;
        bottom: 0;
        left: 45%;
        border-bottom: 2px solid #3445CF;
    }
    .header a.nav-link {
        font-family: Lato;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #2D3344 !important;
        position: relative;
    }
    .header a.active {
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        color: #2D3344;
    }
    .header li.nav-item{
        margin-bottom: 24px;
    }
    .header .navbar-brand{
        z-index: 1;
        position: relative;
    }
    .header .navbar-toggler{
        z-index: 1;
    }  
    .desktop_view_menu{
        display: none;
    }
    .mobile_view_header{
        display: block;
    }
    .mobile_view_header a.nav-link {
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        color: #2D3344 !important;
        position: relative;
    }
    .mobile_view_header a.active {
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        color: #2D3344 !important;
    }
    .mobile_view_header li.nav-item{
        margin-bottom: 24px;
    }
    .menu {
        width: 100%;
        text-align: center;
    }
    .mobile_menu_icon i{
        display: none;
    }
    .cross i{
        display: none;
    }
    .hide_mobile{
        display: none;
    }
    .header li:last-child{
        margin-right: 0;
        margin-top: 26px;
    }
    .header li{
        margin: 0;
    }
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1023px) 
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 1) {

    .header .text-rotate{
        padding-top: 270px;
    }
    .banner-text h1{
        margin-left: 0px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 44px;
        text-align: center;
    }
    .desktop_view_menu{
        display: none;
    }
    .mobile_view_header{
        display: block;
    }
    .header .message-section { 
        display: none;
    }
    .header {
        background: url(../../../images/bg.png) no-repeat !important;
        background-size: 584px 720px !important;
        height: 700px;
        background-position: right !important;
    }
    .banner-style {
        transform: unset;
        overflow: unset;
        word-break: break-word;
        padding-left: unset;
        margin-left: unset;
        margin-bottom: 30px;
        padding-left: 0 !important;
        margin-top: 30px;
        width: 100%;
    }
    .banner-text {
        padding-top: unset;
        padding-bottom: unset;
        -webkit-transform: unset;
        transform: unset;
        text-align: center;
    }
    .mobile_view_header a.nav-link {
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        color: #2D3344 !important;
        position: relative;
    }
    .mobile_view_header a.active {
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        color: #2D3344 !important;
    }
    .mobile_view_header li.nav-item{
        margin-bottom: 24px;
    }

    .menu {
        width: 100%;
        text-align: center;
        position: absolute;
        top: 60px;
        background-color: #fff;
        display: block;
        right: 0;
        box-shadow: 2px 16px 50px rgba(0, 0, 0, 0.04);
    }
    .header .mobile_menu_icon{
        position: absolute;
        right: 0;
        background-image: unset;
        background-repeat: no-repeat;
        color: #fff;
        font-size: 22px;
    }
    .header .cross{
        position: absolute;
        right: 0;
        background-image: unset;
        background-repeat: no-repeat;
        color: #fff;
        font-size: 22px;
    }
    .banner-style {
        padding: 20% 0;
    }
    .mobile_menu_icon i{
        display: block;
    }
    .cross i{
        display: block;
    }
    .hide_mobile{
        display: block !important;
    }

}