.res-section-cointainer .btn-signup-custom{
    background-color: #FC7342 !important;
    border-color: #FC7342 !important;
    padding: 14px 82px;
}
.res-section-cointainer .btn.btn-signup-custom:disabled {
    background-color: #eceff5 !important;
    border-radius: 4px;
    border-color: #eceff5 !important;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #797F8B;
    opacity: 1;
}
.res-header-text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #2D3344;
    padding-top: 120px;
}
.res-section .card-body{
    padding:0px;
}
.res-section .card{
    border:unset;
    box-shadow: unset !important;
    border-radius: 4px;
    background: transparent;
}
.res-section .card .form-label {
    padding-top: 15px;
    width: 100%;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 34px;
}
.res-link{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 34px;
    color: #3445CF !important;
}
.res-link:hover{
    color: #3445CF !important;
}
.res-link:active{
    color: #3445CF !important;
}
.res-section .card .form-check-label{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 34px;
    padding-left: 5px;
    color:#2d334480;
}
.res-section .dark-signup{
    font-weight: bold;
    color:#2D3344;
}
.res-section .card .form-check-input{
    width:20px;
    height:20px;
    line-height: 34px;
    margin-top: 7px;
    margin-right: 5px;
}
.res-section .card .form-control{
    height: 52px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
}
.res-section-cointainer .padding-top-bottom-50{
    padding-top: 50px;
    padding-bottom: 55px;
}
.res-section .css-1g48xl4-IndicatorsContainer {
    height: 52px;
}
.res-section .css-1uccc91-singleValue {
    color: #C4C4CE !important;
}
.res-section .css-tlfecz-indicatorContainer{
    display: none !important;
}
.res-section .input-group-text{
    background: #fff;
    border: 1px solid #ced4da;
}
.res-section .border-right-unset{
    border-right: unset !important;
    border-radius: 4px !important;
}
.res-section .border-left-unset{
    border-left: unset !important;
    border-radius: 4px !important;
}
.res-section .css-1okebmr-indicatorSeparator{
    background: transparent;
}
.res-section .css-1wa3eu0-placeholder{
    color: #C4C4CE !important;
}
@media only screen and (min-device-width: 992px){
    .res-section-cointainer .container { 
        transform: unset !important;
        padding:0px !important;
        margin-right:unset !important;
        margin-left:unset !important;
        max-width:unset !important;
        padding-bottom: 0px !important;
    }
    .res-section-cointainer 
    {
        transform: unset !important; 
        background:unset !important; 
        background-repeat: no-repeat !important; 
        border-radius: unset !important;
    }
    .res-section{
        padding :50px;
        padding-bottom: 0px !important;
    }
    .res-message-section-2 { 
        transform: rotate(0deg);
        background-color: #3445CF;
        height: 700px;
        padding: 0px;
        bottom:-8%;

        border-radius: 0px 100px 0px 0px;
    }
    .res-message-section { 
        transform: rotate(-14deg);
        background: #3445cf33;
        height: 600px;
        padding-right: 54px;
        border-radius: 0px 100px 0px 0px;
        left: -10%;
    }
    .res-section-cointainer .text-rotate{
        transform: rotate(14deg);
        padding-top: 196px;
        text-align: center;
        width: 55%;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 34px;
        text-align: center;
        color: #FFFFFF;
        margin-left: 35%;
    }
    .bck-white-text{
        background: #FFFFFF;
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        align-items: center;
        text-align: center;
        color: #3445CF;
        padding: 13px 82px;
    }
    .signup-text{
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 32px;
        text-align: center;
        color: #FFFFFF;        
    }
    .login-button{
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
        border-radius: 4px;
    }
}
.margin-bottom-20
{
    margin-bottom: 20px;
}

.reset_check_img {
    width: 50px;
    float: left;
    margin-top: 10px;
}
.res-section-cointainer p{
    color: #212529;
    padding-left: 60px;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .bck-white-text{
        color: #3445CF;
    }
    .reset_check_img {
        width: 100%;
        float: unset;
        margin-top: 0;
    }
    .res-section-cointainer p{
        padding-left: 0px;
    }

}
@media only screen and (min-device-width : 481px) and (max-device-width : 767px) {
    .bck-white-text{
        color: #3445CF;
    }
    .reset_check_img {
        width: 100%;
        float: unset;
        margin-top: 0;
    }
    .res-section-cointainer p{
        padding-left: 0px;
    }

}
@media only screen and (min-device-width : 768px) and (max-device-width : 1023px) {
    .reset_check_img {
        width: 100%;
        float: unset;
        margin-top: 0;
    }
    .res-section-cointainer p{
        padding-left: 0px;
    }
    .res-section-cointainer {
        text-align: center;
    }
    .res-message-section .text-rotate img{
        width: 67%;
    }
    .res-message-section{
        bottom: -25%;
    }

}