.low{
  color: #FC4263 !important;
}
.heigh{
  color: #19C8B3 !important;
}
/* latest text */
.latest-text h2{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 46px;
    line-height: 56px;
    text-align: center;
}
.latest-text p{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 34px;
    color: #2D3344;
    text-align: justify;
}
.latest-trends .latest-text h2 img{
  margin-right: 10px;
}
.latest-trends{
  background-image: url("../../../images/Rectangle.png");
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 50% 60% !important;
}
.latest-trends .container{
  padding:0px;
}
.latest-trends .table tr th{
  color:rgba(45, 51, 68, 0.6);
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}
.latest-trends .table tr td{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}
.latest-trends .table tr td img{
  padding-right:10px;
  width: 31px;
}
.latest-trends .table-striped tbody tr:nth-of-type(odd) {
    background-color: #ECEFF5;
}
.latest-trends .table {
  display:inline-table;
  background-color: #fff;
  box-shadow: 2px 16px 50px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
}
.latest-danger{
  color:#FC4263;
}
.latest-success{
  color:#19C8B3;
}
a.btn-latest-trends{
  background: #FC7342;
  padding: 10px 41px;
  border-radius: 4px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}
.btn-latest-trends:hover{
  color: #FFFFFF;
}
.bg-table-img{
  background-image: url("../../../images/dots.png");
  background-position: left bottom;
  background-repeat: no-repeat;
  padding: 35px 35px 17px 35px;
  width: 100%;
}
.our-principals-section{
  margin-top:50px;
  background-image: url("../../../images/our-principals.png");
  background-size: cover;
}

.principals-text h2{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  line-height: 56px;
  text-align: center;
}
.principals-text h2 img{
  margin-right: 20px;
}

.principal-sections h4{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 40px;
}
.principal-sections p{
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #2D3344 !important;
  text-align: justify;
}
.img-clear{
  clear: both;
  float: left;
  margin-right: 10px;
}

.asset-img{
  width:50%;
}

.asset-sections h4{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  line-height: 56px;
}
.asset-sections p{
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 40px;
  color: #81858e;
}
.asset-section .asset-comment h5{
  padding-top: 6px;
  margin-bottom: 5px;
}
.asset-comment p{
  line-height: 20px;
}
.asset-section a{
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 34px;
  color: #FC7342;
}
.asset-sections span{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 2px;
  color: rgba(45, 51, 68, 0.6);
}
.asset-sections span img{
  margin-right: 20px !important;
}
/* account type */
.account-text h2{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  line-height: 56px;
  text-align: center;
}
.account-text p{
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 34px;
  text-align: center;
  color: #5B6B82;
}

/* nav-tabs */
.account-type .nav{
  display: inline-block;
  width: 100%;
}
.account-type .nav-tabs{
  border:unset;
}
.account-type .nav-link{
  border:unset !important;
  display: inherit;
  background: #ECEFF5;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #787d8a;
  padding: 12px 30px;
  border-radius: 0px 4px 4px 0px !important;
  outline:#ECEFF5 solid 0px !important;
}
.account-type .nav-tabs .nav-link.active {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  border:unset;
  background: #FC7342;
  outline:#FC7342 solid 3px;
  border-radius: 4px 0px 0px 4px !important;
}
.tab-body{
  box-shadow: 0px 2px 18px -7px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 30px 15px 25px 15px;
  min-height: 400px !important;
  transition-timing-function: cubic-bezier(0, 1.5, 1.0, 0.1);
  margin:10px;
}

.account-type .tab-body ul{
  list-style: none;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px !important;
  line-height: 26px;
  color: #2D3344;
  padding:0px;
  margin-bottom: 40px;
}

.account-type .tab-body:hover ul{
  color: #fff;
}

.account-type .tab-body ul li i{
    border-radius: 10px;
    border: 1px solid #19C8B3;
    padding: 3px;
    font-size: 12px;
    color:#19C8B3;
}

.tab-body:hover ul li i{
  border: 1px solid #fff;
  color:#fff;
}
.tab-text p{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #242F40;
}
.tab-heading{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 51px;
  text-align: center;

  color: #242F40;
}
.tab-sm{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color:#81858e;
}
.tab-learn-more{
  background: #FFFFFF;
  border: 1px solid #FC7342;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 14px 40px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FC7342;
  margin-top:10px;
  margin-bottom:10px;
}
.tab-body:hover .tab-learn-more{
  color: #FFFFFF;
  background: #FC7342;
  text-decoration: none;
}

.tab-content .slide{
  margin: 11px !important;
}
.tab-content .slide:hover{
  padding: 0px;
  border-radius: 4px;
}
.tab-body:hover{  
  background: #4858d5;
  border: 10px #3445CF solid !important;
  border-radius: 4px;
  color: #fff;
  min-height: 420px !important;
  margin-top: 0px !important; 
  margin:0px!important;
}
.tab-body:hover span,p{
  color:#fff;
}
/* vip */
.vip h4{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  color: #2D3344;
  margin-bottom: 30px;
}
.vip span{
  color:#FC7342;
}
.vip_join{
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  align-items: center;
  color: #FFFFFF;
  background: #FC7342;
  border-radius: 4px;
  padding: 12px 76px;
}
.vip_join:hover{
  text-decoration: none;
  color: #FFFFFF;
}
.question h2{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  line-height: 70px;
  text-align: center;
  color: #FFFFFF;
}
.question p{
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 50px;
  text-align: center;
  color: #ffffff94;
}
.contact_us{
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 50px;
  align-items: center;
  text-align: center;
  color: #3445CF;
  background: #FFFFFF;
  border-radius:4px;
  padding:12px 48px;
}
.contact_us:hover{
  text-decoration: none;color:#3445CF;
}

.question-text{
  padding-bottom:100px;
}
#account_types .account-text h2 img{
  margin-right: 20px;
}
.slick-dots{
  margin-bottom: -20px;
}


@media only screen and (min-device-width : 768px) and (max-device-width : 1023px) {
.home .latest-trends.padding-top-100{
  padding-top: 0 !important;
}
.margin-left-n65 {
  margin-left: 0px;
}
#contact_us.question {
  margin-right: unset !important;
  height: 445px !important;
}
#contact_us .contact_us_bg .container {
  margin-left: 0px !important;
}
.asset-sections h4{
  font-size: 40px;
}
.asset-sections p {
  font-size: 16px;
}
.latest-text h2 {
  font-size: 22px !important;
  line-height: 32px !important;
  text-align: center !important;
}
.home .principal-sections{
  text-align: center;
  margin-top: 50px;
}
.home .account-text p {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 35px;
}
}
@media only screen and (min-device-width : 481px) and (max-device-width : 767px) {
  .our-principals-section{
    margin-top:0;
    padding-top: 30px;
  }
  .home .latest-trends.padding-top-100{
    padding-top: 0px !important;
  }
  .latest-text h2 {
    font-size: 20px !important;
    line-height: 32px !important;
    text-align: left !important;
  }
  .latest-text p {
    font-size: 16px !important;
    line-height: 26px !important;
  }
  .bg-table-img {
    overflow-x: unset;
    padding: 0 !important;
    background: none
  }
  .principals-text h2{
    font-size: 22px !important;
    line-height: 32px !important;
    text-align: center;
  }
  .home .principal-sections{
    text-align: center;
    margin-top: 50px;
  }
  .home .principal-sections h4{
    font-size: 24px;
  }
  .home .principal-sections p {
    font-size: 18px;
    line-height: 34px;
 }
 .home .asset-sections h4 {
  font-size: 22px !important;
  line-height: 32px !important;
  }
  .home .asset-sections p {
    font-size: 16px !important;
    line-height: 26px !important;
    margin-bottom: 30px;
}
  .home .asset-section .asset-comment h5 {
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
    padding-left: 100px;
  }
  .home .asset-section .asset-comment p{
    font-size: 18px !important;
    line-height: 28px !important;
    padding-left: 100px;
  }
  .home .row.latest-text{
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .home .row.latest-trends-img{
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .home .margin-left-n65 {
    margin-left: 0px;
  }
  .home .asset-img {
    width: 100% !important;
  }
  .home .account-text h2 {
    font-size: 22px;
    line-height: 32px;
  }
  .home .account-text p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 35px;
  }
  .home .account-type .nav{
    display: inline !important;
  }
  .question{
    background-position: 96% 100%;
    height:unset;
  }
  .question h2 {
    font-size: 22px;
    line-height: 32px;
  }
  .question p {
    font-size: 16px;
    line-height: 26px;
  }
  #contact_us.question{margin-right: unset !important;border-radius: 0px 50px 50px 0px !important;}
    .contact_us_bg{
      border-radius: 0px 50px 50px 0px !important;
      margin-right: unset !important;      
    }
    #contact_us .contact_us_bg .container{
      margin-left:0 !important;
    }
    .question.margin-top-100{
      margin-top: 70px;
    }
    .slick-dots{
      margin-bottom: -5px;
    }
    .latest-trends .table tr th{
      font-size: 11px;
      line-height: 13px;
      color: #2D3344;
      opacity: 0.6;
      padding-left: 20px;
      padding-right: 115px;
    }
    .latest-trends .table tr td{
      font-size: 13px;
      line-height: 16px;
      color: #2D3344;
    }
    .latest-trends .table tr td img {
      width: 22px;
  }
  .register-section-cointainer .country_code {
    background-color: #fff;
  }
  }
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .our-principals-section{
      margin-top:0;
      padding-top: 30px;
    }
    .register-section-cointainer .country_code {
      background-color: #fff;
    }
    .home .latest-trends.padding-top-100{
      padding-top: 0px !important;
    }
    .latest-text h2 {
      font-size: 20px !important;
      line-height: 32px !important;
      text-align: left !important;
    }
    .latest-text p {
      font-size: 16px !important;
      line-height: 26px !important;
    }
    .bg-table-img {
      overflow-x: scroll;
      padding: 0 !important;
      background: none;
    }
    .principals-text h2{
      font-size: 22px !important;
      line-height: 32px !important;
      text-align: center;
    }
    .home .principal-sections{
      text-align: center;
      margin-top: 50px;
    }
    .home .principal-sections h4{
      font-size: 24px;
    }
    .home .principal-sections p {
      font-size: 18px;
      line-height: 34px;
   }
   .home .asset-sections h4 {
    font-size: 22px !important;
    line-height: 32px !important;
    }
    .home .asset-sections p {
      font-size: 16px !important;
      line-height: 26px !important;
      margin-bottom: 30px;
    }
    .home .asset-section .asset-comment h5 {
      font-weight: 500;
      font-size: 22px;
      line-height: 32px;
      padding-left: 100px;
    }
    .home .asset-section .asset-comment p{
      font-size: 18px !important;
      line-height: 28px !important;
      padding-left: 100px;
    }
    .home .row{
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
    .home .row{
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
    .home .margin-left-n65 {
      margin-left: 0px;
     }
     .home .asset-img {
      width: 100% !important;
    }
    .home .account-text h2 {
      font-size: 22px;
      line-height: 32px;
    }
    .home .account-text p {
      font-size: 16px;
      line-height: 26px;
      margin-bottom: 35px;
    }
    .home .account-type .nav{
      display: inline !important;
    }
    .question{
      background-position: 96% 100%;
      height:unset;
    }
    .question h2 {
      font-size: 22px;
      line-height: 32px;
    }
    .question p {
      font-size: 16px;
      line-height: 26px;
    }
    #account_types .col-sm-12{
      padding:0px;
    }
    .account-type .nav-tabs .nav-link {
      font-size: 11px;
    }
    .account-type .nav-tabs .nav-link.active {
      font-size: 12px;
    }
    #contact_us.question{margin-right: unset !important;border-radius: 0px 50px 50px 0px !important;}
    .contact_us_bg{
      border-radius: 0px 50px 50px 0px !important;
      margin-right: unset !important;      
    }
    #contact_us .contact_us_bg .container{
      margin-left:0 !important;
    }
    .asset-sections span{
      font-size: 14px;
      line-height: 17px;
    }
    .question.margin-top-100{
      margin-top: 70px;
    }
    .slick-dots{
      margin-bottom: -5px;
    }
  .latest-trends .table tr th{
    font-size: 11px;
    line-height: 13px;
    color: #2D3344;
    opacity: 0.6;
    padding-left: 20px;
    padding-right: 135px;
  }
  .latest-trends .table tr td{
    font-size: 13px;
    line-height: 16px;
    color: #2D3344;
  }
  .latest-trends .table tr td img {
    width: 22px;
}
.latest-trends {
  background-image: unset;
}
    }
    #contact_us.question{background-color: #ebeefc;border-radius: 0px 100px 100px 0px;padding-top: 20px;margin-right: 30px;height: 395px;}
    .contact_us_bg{
      background-color:#3445CF;
      border-radius: 0px 100px 100px 0px;
      margin-top: -50px;
      margin-right: 30px;
    }
    #contact_us .contact_us_bg .container{
      background-image: url('../../../images/bckground/Bg.svg');
      background-position: center;
      background-size: 490px;
      background-repeat: no-repeat;
    }

@media screen and (min-width: 320px)  and (orientation:landscape) {
   /* Your CSS Here*/
   .tab-heading {
    font-size: 30px  !important;
}
.account-type .tab-body ul {
  font-size: 12px;
}
.tab-learn-more {
  left: 14px ;
  padding: 10px 15px ;
}
.tab-body {
  height: 550px ;
}
#contact_us .contact_us_bg .container {
    margin-left: auto !important;
}
.latest-text h2 {
  text-align: center !important;
}
.input-group-text {
  border-left: none !important;
}
.register-section-cointainer .country_code {
  background-color: #fff;
}
.circular_div {
  width: 37%;
}
}
.hide-blocked-page{
  display: none;
}
.blocked{
  padding: 7% 0 0 0;
}
.blocked .block-logo{
  width: 60%;
  margin: auto;
  position: relative;
  top: 40%;
}
.blocked .block-logo img{
  width: 100%;
}
.block-content{
  padding-left: 65px;             
}
.block-content h1{
  font-size: 45px;
    font-weight: bold;
    margin-bottom: 30px;
}
.block-content p{
  color: #000;
  font-size: 30px;
  font-weight: 500;
  margin: 0 !important;
}
.block-content a{
  font-size: 30px;
  text-decoration: none;
}
.block-content .block-footer1 {
  margin-top: 30px !important;
}
.block-border{
  border-right: solid;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .blocked {
    padding: 10% 0 0 0;
}
  .blocked .block-logo {
    width: 60%;
    margin: auto;
    position: unset;
    margin-bottom: 30px;
}
.block-content {
  padding-left: 0;
}
.block-content h1 {
  font-size: 35px;
  font-weight: bold;
  text-align: center;
}
.block-content p {
  color: #000;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
}
.block-content a {
  font-size: 25px;
  text-decoration: none;
}
.block-border{
  border-right: none;
}
}
@media only screen and (min-device-width : 481px) and (max-device-width : 767px) {
  .blocked {
    padding: 10% 0 0 0;
}
  .blocked .block-logo {
    width: 60%;
    margin: auto;
    position: unset;
    margin-bottom: 30px;
}
.block-content {
  padding-left: 0;
}
.block-content h1 {
  font-size: 35px;
  font-weight: bold;
  text-align: center;
}
.block-content p {
  color: #000;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
}
.block-content a {
  font-size: 25px;
  text-decoration: none;
}
.block-border{
  border-right: none;
}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1023px) {
  .blocked {
    padding: 15% 0 0 0;
}
.block-content {
  padding-left: 0;
}
.block-content h1 {
  font-size: 40px;
  font-weight: bold;
}
.block-content p {
  color: #000;
  font-size: 24px;
  font-weight: 500;
}
.block-content a {
  font-size: 24px;
  text-decoration: none;
}
}