.margin-top-50 {
    margin-top: 50px;
}
.theme-title-withdrawal{
    margin: 100px 0 60px 0;
}
.withrawal-body .theme-title-withdrawal h2{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 46px;
    line-height: 56px;
    color: #2D3344;
    margin-top: -3%;
}
.withrawal-body .theme-title-withdrawal h2 img{
    margin-top: -6px;
}

.withrawal-body .question-color{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
    color: #2D3344;
    margin-bottom: 25px;
    margin-top: 50px;
    width: 98%;
    text-transform: uppercase;
}
.withrawal-body .question-color img{
    margin-top: -2px;
}

.withrawal-body .paragraph-color{
    font-family: Lato;
    font-style: normal;
    font-size: 22px;
    line-height: 40px;
    color: #2D3344;
    margin-bottom: 65px;
}
.withrawal-body .paragraph-small-color{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #2D3344;
}
.methods-ul li{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #2D3344;
    padding: 12px 15px 12px 15px;
}
.methods-ul li span{
    line-height: 30px;
    margin-left: 15px;
}
.methods-ul div{
    width: 31px;
    height: 31px;
    clear: both;
    float: left;
}
.credit-bg{
    background-color: #9b74f233;
    border-radius: 100%;
    padding: 3px 9px;
}
.payment-bg{
    background-color: #fc426333;
    border-radius: 100%;
    padding: 3px 9px;
}
.bank-bg{
    background-color: #19c7b333;
    border-radius: 100%;
    padding: 3px 8px;
}
.withrawal-body .paragraph-color span{
    font-family: Lato;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 40px;
    color: #2D3344;
}
.withrawal-body .body-color{
    color:#2d3344e0 !important;
}
.withrawal-body .table-color td{
    color:#2d3344e0 !important; 
}

.withrawal-body .anchor-color{
    color:#3538D0 !important;
}
.long-take{
    transform: rotate(-4.13deg);
    background-color: #3445cf08;
    margin-right: -1%;
    margin-left: -1%;
    border-radius: 0px 0px 0px 110px;
}
.long-take .container{
    transform: rotate(4.13deg);
}
.withdrawal-table-responsive{
    padding-left: 65px;
    padding-bottom: 20px;
    padding-right:20px;
    background: url('../../images/bckground/dots.svg') no-repeat;
    background-position: bottom left;
}
.withdrawal-table-responsive table{
    background-color: #fff;
    box-shadow: 2px 16px 50px rgba(0, 0, 0, 0.04);
}
.withdrawal-table-responsive tbody td{
    width: 50%;
    padding-left: 30px;
    border:unset;
}
.withdrawal-table-responsive tbody tr:nth-of-type(even) {
    background-color: #fff;
}
.withdrawal-table-responsive tbody tr:nth-of-type(odd) {
    background-color: #eceff599;
}
.withdrawal-table-responsive tbody tr td span{
    line-height: 30px;
    margin-left: 15px;
}
.withdrawal-table-responsive tbody tr td div{
    width: 31px;
    height: 31px;
    clear: both;
    float: left;
}
.fees-table-responsive{
    padding-left: 65px;
    padding-bottom: 20px;
    padding-right:20px;
}
.fees-table-responsive table{
    background-color: #fff;
    box-shadow: 2px 16px 50px rgba(0, 0, 0, 0.04);
}
.fees-table-responsive tbody td{
    width: 50%;
    padding-left: 30px;
    border:unset;
}
.fees-table-responsive tbody tr:nth-of-type(even) {
    background-color: #fff;
}
.fees-table-responsive tbody tr:nth-of-type(odd) {
    background-color: #eceff599;
}
.fees-table-responsive tbody tr td span{
    line-height: 30px;
    margin-left: 15px;
}
.fees-table-responsive tbody tr td div{
    width: 31px;
    height: 31px;
    clear: both;
    float: left;
}
.th-txt{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 36px !important;
    color: #2d334499;
    margin-left: 0px !important;
}
.td-txt{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 47px;
    color: #2D3344;
    padding:20px;
}
.credit-td-bg{
    background-color: #9b74f233;
    border-radius: 100%;
    padding: 3px 9px;
    line-height: 23px;
    margin-top:8px;
}
.bank-td-bg{
    background-color: #19c7b333;
    border-radius: 100%;
    padding: 3px 8px;
    line-height: 23px;
    margin-top:8px;
}
.processing-request{
    transform: matrix(1, 0.08, 0.08, -1, 0, 0);
    background-color: #3445cf08;
    margin-right: -1%;
    margin-left: -1%;
    border-radius: 0px 0px 0px 110px;
}
.processing-request .container{
    transform: matrix(1, 0.08, 0.08, -1, 0, 0);
}
.bol-p p{
    font-family: Lato;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 40px;

    color: #2D3344;
}
.processing-request p{
    font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 40px;

color: #2D3344;
}
.withrawal-over{
    overflow: hidden;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1023px) {
.withrawal-body .margin-bottom-100 {
    margin-bottom: 50px;
}
.withrawal-body .paragraph-color{
    margin-bottom: 30px;
}
}
@media only screen and (min-device-width : 481px) and (max-device-width : 767px) {
    .theme-title-withdrawal h2 {
        font-size: 22px !important;
        line-height: 32px !important;
        margin-bottom: 50px;
    }
    .theme-title-withdrawal{
        margin: 50px 0 60px 0;
    }
    .margin-top {
        margin-top: 0px;
    }
.withrawal-body .margin-bottom-100 {
    margin-bottom: 50px;
}
.withrawal-body .paragraph-color{
    margin-bottom: 30px;
}
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .theme-title-withdrawal h2 {
        font-size: 22px !important;
        line-height: 32px !important;
        margin-bottom: 50px;
    }
    .theme-title-withdrawal{
        margin: 50px 0 60px 0;
    }
    .margin-top {
        margin-top: 0px;
    }
.withrawal-body .margin-bottom-100 {
    margin-bottom: 50px;
}
.withrawal-body .paragraph-color{
    margin-bottom: 30px;
}
}
    