.account-carousel .carousel .slide {
    margin: 0;
    position: relative;
    text-align: center;
    background: #fff !important;
}

.slick-dots li.slick-active button:before {
    color: #FC7342 !important;
    opacity: unset;
}
.slick-dots li button {
    color: #FC7342 !important;
}
.slick-dots li button:before {
    opacity: .25;
    color: #FC7342 !important;
    font-size: 12px !important;
}
.tab-body h6{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 2px;
    color: #2D3344;
}
.tab-body:hover h6{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 2px;
    color: #ffffff ;
}
.check-text{
    padding-left: 7px;
}
.tab-body{
    height: 400px;
}
.tab-text{
    color: #242F40;
}
.tab-body:hover .tab-text{
    color: #fff ;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .tab-text{
        margin: 27px 0;
    }
    .tab-body ul li{
        margin-bottom: 10px;
    }
    .tab-learn-more{
        padding: 14px 35px !important;
    }
    .tab-body{
        position: relative;
        height: 485px;
    }
}
@media only screen and (min-device-width : 481px) and (max-device-width : 767px) {
    .tab-text{
        margin: 27px 0;
    }
    .tab-body ul li{
        margin-bottom: 10px;
    }
    .tab-learn-more{
        padding: 14px 35px !important;
    }
    .tab-body{
        position: relative;
        height: 485px;
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1023px) {
    .tab-body{
        height: 510px !important;
        position: relative;
    }
    .tab-learn-more{
        position: absolute;
        bottom: 15px;
        left: 7px;
        padding: 14px 29px;
    }
    .tab-text{
        margin: 27px 0;
    }
    .tab-body ul li{
        margin-bottom: 10px;
    }
}