.login-section-cointainer .btn-signup-custom{
    background-color: #FC7342 !important;
    border-color: #FC7342 !important;
    padding: 15px 82px;
}
.btn-signup-custom{
    background-color: #FC7342 !important;
    border-color: #FC7342 !important;
    padding: 12px;
}
.login-section-cointainer .btn.btn-signup-custom:disabled {
    background-color: #eceff5 !important;
    border-radius: 4px;
    border-color: #eceff5 !important;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #797F8B;
    opacity: 1;
}
.login-header-text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #2D3344;
}
.login-section .card-body{
    padding:0px;
}
.login-section .card{
    border:unset;
    box-shadow: unset !important;
    border-radius: 4px;
    background: transparent;
}
.login-section .card .form-label {
    padding-top: 15px;
    width: 100%;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 34px;
}
.forgot-link{
    font-family: Lato;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 34px;
    color: #3445CF !important;
}
.forgot-link:hover{
    color: #3445CF !important;
}
.forgot-link:active{
    color: #3445CF !important;
}
.login-section .card .form-check-label{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 34px;
    padding-left: 5px;
    color:#2d334480;
}
.login-section .dark-signup{
    font-weight: bold;
    color:#2D3344;
}
.login-section .card .form-check-input{
    width:20px;
    height:20px;
    line-height: 34px;
    margin-top: 7px;
    margin-right: 5px;
}
.login-section .card .form-control{
    height: 52px;
    background-color: #fff !important;
}
.login-section-cointainer .padding-top-bottom-50{
    padding-top: 50px;
    padding-bottom: 55px;
}
 .hide_on_desktop{
     display: none;
 }
@media only screen and (min-device-width: 992px){
    .login-section-cointainer .container { 
        transform: unset !important;
        padding:0px !important;
        margin-right:unset !important;
        margin-left:unset !important;
        max-width:unset !important;
        padding-bottom: 50px !important;
    }
    .login-section-cointainer 
    {
        transform: unset !important; 
        background:unset !important; 
        background-repeat: no-repeat !important; 
        border-radius: unset !important;
    }
    .login-section{
        padding :50px;
    }
    .login-section-cointainer .message-section-2 { 
        transform: rotate(0deg);
        background-color: #3445CF;
        height: 896px;
        padding: 0px;
        border-radius: 0px 0px 0px 100px;
        top: -71px;
        left: 60px;
    }
    .login-section-cointainer .message-section { 
        transform: rotate(-12deg);
        background: #3445cf33;
        top: -150px;
        height: 924px;
        padding-right: 0px;
        border-radius: 0px 0px 0px 100px;
        left: 31px;
    }
    .login-section-cointainer .text-rotate{
        transform: rotate(12deg);
        padding-top: 380px;
        text-align: center;
        width: 55%;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 34px;
        text-align: center;
        color: #FFFFFF;
        margin-left: 10%;
    }
    .bck-white-text{
        background: #FFFFFF;
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        align-items: center;
        text-align: center;
        color: #3445CF;
        padding: 13px 82px;
    }
    .signup-text{
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 32px;
        text-align: center;
        color: #FFFFFF;        
    }
    .login-button{
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
        border-radius: 4px;
    }
}
.haveaccount{
    display: none;
}
.margin-bottom-20
{
    margin-bottom: 20px;
}
.password_input{
    position: relative;
}
.password__show{
    position: absolute;
    bottom: 15px;
    right: 21px;
}
.password__show i{
    font-size: 22px;
    color: #DADADA;
}
.remember_text{
    text-align: left;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1023px) {
    .haveaccount{
        display: block;
    }
    .login-section-cointainer .message-section{
        display: none;
    }
    .hide_on_desktop{
        display: block;
    }
    .first_signup{
        text-align: center;
        margin-top: 10px;
    }
    .first_signup span{
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
    }
    .first_signup span a{
        font-family: Lato;
        font-style: normal;
        font-weight: 800;
        font-size: 16px;
        line-height: 25px;
        color: #3445CF;
        padding: 0;
    }
    .margin-bottom-50 {
        margin-bottom: 0px;
    }
    .login_button{
        text-align: center;
    }
    .login-header-text {
        text-align: center !important;
    }
    .login-section-cointainer {
        padding: 0 0;
        margin-top: 55px;
    }
    .hide_mobile{
        display: none;
    }
    .login-section-cointainer .padding-top-bottom-50{
        padding-top: 0;
    }
}
@media only screen and (min-device-width : 481px) and (max-device-width : 767px) {
    .haveaccount{
        display: block;
    }
    .message-section{
        display: none;
    }
    .hide_on_desktop{
        display: block;
    }
    .first_signup{
        text-align: center;
        margin-top: 10px;
    }
    .first_signup span{
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
    }
    .first_signup span a{
        font-family: Lato;
        font-style: normal;
        font-weight: 800;
        font-size: 16px;
        line-height: 26px;
        color: #3445CF;
        padding: 0;
    }
    .margin-bottom-50 {
        margin-bottom: 0px;
    }
    .login_button{
        text-align: center;
    }
    .login-header-text {
        text-align: center !important;
        margin-top: -20px;
    }
    .login-section-cointainer .padding-top-bottom-50 {
        padding-top: 0px;
        padding-bottom: 55px;
    }
    .login-section-cointainer{
        padding-bottom: 50px;
    }
    .forget_text{
        float: right;
    }
    .remember_text{
        text-align: center;
    }
    .hide_mobile{
        display: none;
    }
    
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .haveaccount{
        display: block;
    }
    .message-section{
        display: none;
    }
    .hide_on_desktop{
        display: block;
    }
    .first_signup{
        text-align: center;
        margin-top: 10px;
    }
    .first_signup span{
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
    }
    .first_signup span a{
        font-family: Lato;
        font-style: normal;
        font-weight: 800;
        font-size: 16px;
        line-height: 26px;
        color: #3445CF;
        padding: 0;
    }
    .margin-bottom-50 {
        margin-bottom: 0px;
    }
    .login_button{
        text-align: center;
    }
    .login-header-text {
        text-align: center !important;
        margin-top: -20px;
    }
    .login-section-cointainer .padding-top-bottom-50 {
        padding-top: 0px;
        padding-bottom: 55px;
    }
    .login-section-cointainer{
        padding-bottom: 50px;
    }
    .forget_text{
        float: right;
    }
    .remember_text{
        text-align: center;
    }
    .hide_mobile{
        display: none;
    }
}
 /* iPads (landscape) ----------- */
 @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /* Styles */
    .haveaccount{
        display: none;
    }
    .login-section-cointainer .message-section { 
        top: -351px;
        display: block !important;
    }
    .hide_mobile{
        display: none;
    }
    .login-section-cointainer .container { 
        transform: unset !important;
        padding:0px !important;
        margin-right:unset !important;
        margin-left:unset !important;
        max-width:unset !important;
        padding-bottom: 50px !important;
    }
    .login-section-cointainer 
    {
        transform: unset !important; 
        background:unset !important; 
        background-repeat: no-repeat !important; 
        border-radius: unset !important;
        padding: 0 !important;
        margin-top: 0 !important;
    }
    .login-section{
        padding :50px;
    }
    .login-section-cointainer .message-section-2 { 
        transform: rotate(0deg);
        background-color: #3445CF;
        height: 896px;
        padding: 0px;
        border-radius: 0px 0px 0px 100px;
        top: -71px;
        left: 60px;
    }
    .login-section-cointainer .message-section { 
        transform: rotate(-12deg);
        background: #3445cf33;
        top: -345px;
        height: 924px;
        padding-right: 0px;
        border-radius: 0px 0px 0px 100px;
        left: 31px;
    }
    .login-section-cointainer .text-rotate{
        transform: rotate(12deg);
        padding-top: 90%;
        text-align: center;
        width: 55%;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 34px;
        text-align: center;
        color: #FFFFFF;
        margin-left: 15%;
    }
    .bck-white-text{
        background: #FFFFFF;
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        align-items: center;
        text-align: center;
        color: #3445CF;
        padding: 13px 82px;
    }
    .signup-text{
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 32px;
        text-align: center;
        color: #FFFFFF;        
    }
    .login-button{
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
        border-radius: 4px;
    }
    
 }