.reset-section-cointainer .btn-signup-custom{
    background-color: #FC7342 !important;
    border-color: #FC7342 !important;
    padding: 15px 89px;
}
.reset-section-cointainer .btn.btn-signup-custom:disabled {
    background-color: #eceff5 !important;
    border-radius: 4px;
    border-color: #eceff5 !important;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #797F8B;
    opacity: 1;
}
.reset-header-text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #2D3344;
}
.reset-section .card-body{
    padding:0px;
}
.reset-section p{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 34px;
    color: #2D3344;
}
.reset-section .card{
    border:unset;
    box-shadow: unset !important;
    border-radius: 4px;
    background: transparent;
}
.reset-section .card .form-label {
    padding-top: 15px;
    width: 100%;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 34px;
    color: #2D3344 !important;
}
.reset-link{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 34px;
    color: #3445CF !important;
}
.reset-link:hover{
    color: #3445CF !important;
}
.reset-link:active{
    color: #3445CF !important;
}
.reset-section .card .form-check-label{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 34px;
    padding-left: 5px;
    color:#2d334480;
}
.reset-section .dark-signup{
    font-weight: bold;
    color:#2D3344;
}
.reset-section .card .form-check-input{
    width:20px;
    height:20px;
    line-height: 34px;
    margin-top: 7px;
    margin-right: 5px;
}
.reset-section .card .form-control{
    height: 52px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #2d3344 !important;
}
.reset-section-cointainer .padding-top-bottom-50{
    padding-top: 50px;
    padding-bottom: 100px;
}
.reset-section .input-group-text{
    background: #fff;
    border: 1px solid #ced4da;
}
.reset-section .border-right-unset{
    border-right: unset !important;
    border-radius: 4px !important;
}
.reset-section .border-left-unset{
    border-left: unset !important;
    border-radius: 4px !important;
}
@media only screen and (min-device-width: 992px){
    .reset-section-cointainer .container { 
        transform: unset !important;
        padding:0px !important;
        margin-right:unset !important;
        margin-left:unset !important;
        max-width:unset !important;
    }
    .reset-section-cointainer 
    {
        transform: unset !important; 
        background:unset !important; 
        background-repeat: no-repeat !important; 
        border-radius: unset !important;
    }
    .reset-section{
        padding :50px;
        padding-bottom: 0px !important;
        padding-top: 210px !important;
    }
    .reset-section-cointainer .message-section-2 { 
        transform: rotate(0deg);
        background-color: #3445CF;
        height: 896px;
        padding: 0px;
        border-radius: 0px 0px 0px 100px;
        top: -71px;
        left: 50px;
    }
    .reset-section-cointainer .message-section { 
        transform: rotate(-12deg);
        background: #3445cf33;
        top: -150px;
        height: 924px;
        padding-right: 0px;
        border-radius: 0px 0px 0px 100px;
        left: 31px;
    }
    .reset-section-cointainer .text-rotate{
        transform: rotate(12deg);
        padding-top: 380px;
        text-align: center;
        width: 55%;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 34px;
        text-align: center;
        color: #FFFFFF;
        margin-left: 18%;
    }
    .bck-white-text{
        background: #FFFFFF;
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        align-items: center;
        text-align: center;
        color: #3445CF;
        padding: 13px 82px;
    }
    .signup-text{
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 32px;
        text-align: center;
        color: #FFFFFF;        
    }
    .login-button{
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
        border-radius: 4px;
    }
}
.margin-bottom-20
{
    margin-bottom: 20px;
}
.anchor-signup{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #3445CF;
}
.anchor-signup:hover{
    color: #3445CF;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .reset-section-cointainer {
        padding: 10% 0 !important;
        margin-top: 55px !important;
    }
    .reset-section-cointainer .reset-header-text {
        text-align: center !important;
    }
    .reset-section-cointainer .reset-section p {
        text-align: center !important;
     }
     .reset-section-cointainer .reset_button_div{
        text-align: center;
    }
}
@media only screen and (min-device-width : 481px) and (max-device-width : 767px) {
    .reset-section-cointainer {
        padding: 10% 0 !important;
        margin-top: 55px !important;
    }
    .reset-section-cointainer .reset-header-text {
        text-align: center !important;
    }
    .reset-section-cointainer .reset-section p {
       text-align: center !important;
    }
    .reset-section-cointainer .reset_button_div{
        text-align: center;
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1023px) {
    .reset-section-cointainer .message-section{
        display: none   ;
    }
    .reset-section-cointainer {
        padding: 10% 0 !important;
        margin-top: 55px !important;
    }
    .reset-section-cointainer .reset-header-text {
        text-align: center !important;
    }
    .reset-section-cointainer .reset-section p {
       text-align: center !important;
    }
    .reset-section-cointainer .reset_button_div{
        text-align: center;
    }
}