.btn-gray{
    color: #9C9FAB !important;
    background-color:transparent;
    border: unset;
    margin:2px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 1.71429px;
    text-transform: uppercase;
    padding:10px 20px;

}
.btn-gray.active{
    color: #fff !important;
    background-color:#3538d0;
    box-shadow: unset;
}
.graph_currncy_image{
    width: 35px;
    margin-right: 10px;
}
.mobile_dropdown .dropdown .graph_button{
    background: #3445CF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
}
#chart_container .tv-lightweight-charts table tr:hover{
    background-color: #ffffff00 !important;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
.mobile_dropdown{
    text-align: right;
}
.mobile_dropdown .dropdown .dropdown-menu ul{
    padding: 0;
    margin: 0;
}
.mobile_dropdown .dropdown .dropdown-menu ul li{
    display: block;
}
.btn-gray{
    width: 100%;
    margin: 0 !important;
}
}
@media only screen and (min-device-width : 481px) and (max-device-width : 767px) {
.mobile_dropdown{
    text-align: right;
}
.mobile_dropdown .dropdown .dropdown-menu ul{
    padding: 0; 
    margin-bottom: 0 !important;
}
.mobile_dropdown .dropdown .dropdown-menu ul li{
    display: block;
}
.btn-gray{
    width: 100%;
    margin: 0 !important;
}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1023px) {
    .mobile_dropdown{
        text-align: right;
    }
    .mobile_dropdown .dropdown .dropdown-menu ul{
        padding: 0;
        margin: 0;
    }
    .mobile_dropdown .dropdown .dropdown-menu ul li{
        display: block;
    }
    .btn-gray{
        width: 100%;
    }
    }