.terms-conditions .heading{
  margin-bottom: 20px;
  margin-top: 50px;
}
.terms-conditions .heading h4{
text-align: center;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 25px;
line-height: 32px;
color: #2D3344;
}
.terms-conditions .contant p{
text-align: center;
font-family: Lato;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 40px;
color: #2D3344;
}
.terms-conditions .contant2 h4{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 32px;
  color: #2D3344;
  }
.terms-conditions .contant2 p{
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  color: #2D3344;
  word-break: break-all;
}
.terms-conditions .contant2 li{
  font-family: Lato;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 40px;
  color: #2D3344;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .terms-conditions .heading{
    margin-bottom: 20px;
    margin-top: 20px;
    display:block !important;
  }
}
@media only screen and (min-device-width : 481px) and (max-device-width : 767px) {
  .terms-conditions .heading{
    margin-bottom: 20px;
    margin-top: 20px;
    display:block !important;
  }
}