.not_found{
    text-align: center;
    padding: 50px;
}
.add_assest_button{
    background-color: #FC7342 !important;
    border-color: #FC7342 !important;
    padding: 12px;
    width: 100%;
    color: #fff !important;
    border-radius: 4px !important;
    font-weight: bold !important;
    font-size: 18px !important;
}
.VOLUMEhour{
    position: sticky;
    top: 0;
    background-color: #fff;
    width: 100%;
    z-index: 1;
}


.dashboard-section{
    box-shadow: 0px 2px 18px -7px rgba(0, 0, 0, 0.1);
    background-color: #ffffff!important;
}
.btn-signup-custom{
    color: #fff !important;
}
.nav-item{
    font-family: Lato;
}
.dashboard-section p{
    color: gray;
}
.assets-heading{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #2D3344;
    margin-bottom: 0px;
    cursor: pointer;
}
.assets-heading img{
    clear: both;
    float: left;    
}
.assets-heading div{
    padding-top: 0px;
}
.lg-change-text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: rgba(45, 51, 68, 0.6) !important;
    text-align: left !important;
    margin-bottom: 0px;
}
.point-value b{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;    
    color: #2D3344;
    margin-bottom: 0px;
}
.status-balance b{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;    
    color: #FC4263;
    margin-bottom: 0px;
}
.status b{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    color: #2D3344;
    margin-bottom: 0px;
}
.asset-info{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #3445CF;
    margin-bottom: 0px;
    cursor: pointer;
}

.purple-text{
    font-family: Lato !important;
    font-style: normal;
    font-weight: bold !important;
    font-size: 12px;
    line-height: 14px;    
    color: #3445CF !important;
    mix-blend-mode: normal !important; 
}
.gray-text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 1.7px;
    color: rgba(45, 51, 68, 0.5);
    mix-blend-mode: normal;
    padding:5px 8px;
    cursor: pointer;
}
.width-1{
    width:7%;
    padding:15px;
}
.width-10{
    width:10%;
    padding:15px 15px 15px 6px;
    background: url("../../images/Rectangle 3.1.svg") no-repeat;
    background-position: center right;
}
.width-9{
    width:9%;
    padding:15px 15px 15px 6px;
    background: url("../../images/Rectangle 3.1.svg") no-repeat;
    background-position: center right;
}
.width-11{
    width:11%;
    padding:15px 15px 15px 6px;
    background: url("../../images/Rectangle 3.1.svg") no-repeat;
    background-position: center right;
}
.width-12{
    width:12%;
    padding: 21px !important;
}
.width-2{
    width:20%;
    padding:15px;
}
.width-215{
    width:20.5%;
    padding:15px 5px;
}
.width-3{
    width:30%;
    padding:15px;
}

.dashboard-container .buy.col-md-6{
    max-width: 49%;
    color:rgba(45, 51, 68, 0.5) !important;
    background-color: #ffffff!important;   
}
.dashboard-container .sell.col-md-6{
    max-width: 49% ;
    color:rgba(45, 51, 68, 0.5) !important;
    background-color: #ffffff!important;    
}
.box-shadow{
    box-shadow: 2px 16px 50px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
}
.buy-heading{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 2px;
    color: #2D3344;
    padding: 20px;
    border-bottom: 1px solid #ECEFF5;
    margin-bottom:10px;
}
.buy{
    height: fit-content;
}
.sell{
    height: fit-content;
}
.buy .row{
    padding: 20px;
    padding-bottom: 5px !important;
}
.sell .row{
    padding: 20px;
    padding-bottom: 5px !important;
}
.buy p{
    color: rgba(45, 51, 68, 0.5);
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 16px;
}
.sell p{
    color: rgba(45, 51, 68, 0.5);
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 16px;
}
.sell-heading{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 2px;
    color: #2D3344;
    padding: 20px;
    border-bottom: 1px solid #ECEFF5;
    margin-bottom:10px;
}
.circular-buy-div .enter-text{
    font-family: CircularStd;
    font-size: 8px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color:rgba(45, 51, 68, 0.5) !important;
    font-weight: unset;
    margin-bottom: 10px;
}
.circular-buy-div .amount-text{
    font-family: CircularStd !important;
    font-size: 12px !important;
    line-height: 20px !important;
    text-align: center !important;
    text-transform: uppercase !important;
    color: #19C8B3 !important;
    margin-bottom: 10px;
}
.circular-buy-div .form-control{
    display: block;
    width: 100%;
    height: unset;
    padding: unset;
    font-size: unset;
    font-weight: unset;
    line-height: unset;
    color: unset;
    background-color: transparent;
    background-clip: unset;
    border: unset;
    border-radius: 8.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.circular-buy-div .buy-text{
    font-family: CircularStd;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #19C8B3 !important;
    margin-bottom: 10px;
}
.circular-sell-div .sell-text{
    font-family: CircularStd;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #FC4263 !important;
    margin-bottom: 10px;
}
.float-div{
    padding:6px;
    margin-top:25%;
}

.circular-buy-div{
    border: 4px solid #19C8B3;
    border-radius:50%;
    width: 135px;
    height: 135px;
    padding-top: 5px;
}
.circular-sell-div{
    border: 4px solid #FC4263;
    border-radius:50%;
    width: 135px;
    height: 135px;
    padding-top: 5px;
}
.circular-sell-div .enter-text{
    font-family: CircularStd;
    font-size: 8px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color:rgba(45, 51, 68, 0.5) !important;
    font-weight: unset;
    margin-bottom: 10px;
}
.circular-sell-div .amount-text{
    font-family: CircularStd !important;
    font-size: 12px !important;
    line-height: 20px !important;
    text-align: center !important;
    text-transform: uppercase !important;
    color: #FC4263 !important;
    margin-bottom: 10px;
}
.circular-sell-div .form-control{
    display: block;
    width: 100%;
    height: unset;
    padding: unset;
    font-size: unset;
    font-weight: unset;
    line-height: unset;
    color: unset;
    background-color: transparent;
    background-clip: unset;
    border: unset;
    border-radius: 8.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.circular-sell-div .buy-text{
    font-family: CircularStd;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #FC4263 !important;
    margin-bottom: 10px;
}
.table p{
    color: #2D3344;
    margin-bottom:0px;
}
.table-assets{
    box-shadow: 2px 16px 50px rgba(0, 0, 0, 0.04);
}
.dashboard-table .table{
    margin-bottom: 0px;
}
.dashboard-table .table a{
    text-decoration: none;
}

.table-assets{
    width: 22.7%;
    padding:0px;
    border-radius: 4px;
    height: fit-content;
}

.table-assets ul{
    max-height: 738px;
    overflow-y: auto;
    overflow-x: hidden;
}

.table-assets ul li:hover{
    background:white;
    cursor: pointer;
}
.table-assets ul li.active{
    background:white;
    cursor: pointer;
}

span.buy-per-25{
    color: #3445CF !important;
}
span.buy-per-50{
    color: #3445CF !important;
}
span.buy-per-75{
    color: #3445CF !important;
}
span.buy-per-100{
    color: #3445CF !important;
}
span.sell-per-25{
    color: #3445CF !important;
}
span.sell-per-50{
    color: #3445CF !important;
}
span.sell-per-75{
    color: #3445CF !important;
}
span.sell-per-100{
    color: #3445CF !important;
}
.dash-asset-section{
    padding-left:4%;
    width: 76.2%;
}
.dashboard-table table p{
    margin-bottom: 0px;
}
.heading-table{
    background-color: #ffffff!important;    
}
.heading-table th{
    border-top:unset;
    height: 50px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 2px;
    color: #2D3344;
    padding: 20px 8px;
}
.heading-table div{
    border-top:unset;
    height: 60px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    color: #2D3344;
    padding: 20px 8px;
}
.table li{
    border-top: 1px solid #ECEFF5 !important;
}
table tr:hover{
    background-color: #ffffff !important;
}
.positive-text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: right;
}
.change-text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    text-align: right;
    color: rgba(45, 51, 68, 0.6) !important;
}
.heading-assets{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #2D3344;
}
.heading-value{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 15px;
    color: #2D3344;
}
.negative-text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    color: #FC4263 !important;
}

.graph-section p{
    color:#2D3344;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

.buy .input-group-text{
    border: unset;
    padding-right: 0px;
    background: transparent;
    font-family: CircularStd;
    font-size: 12px;
    line-height: 15px;
    color: #3445CF;
    border-bottom: 1px solid #3445CF;
    border-radius: unset;
}
.buy .buy-input{
    border: unset;
    padding-left:0px;
    border-radius: unset;
    border-bottom: 1px solid #3445CF;
    font-family: CircularStd;
    font-size: 16px;
    line-height: 23px;
    color: #3445CF;
}
.buy .buy-input::placeholder{
    color: #3445CF;
}
.sell .sell-input::placeholder{
    color: #3445CF;
}
.buy .buy-input:focus{
    border: unset;
    box-shadow: unset;
    border-bottom: 1px solid #3445CF;
}
.input-group img{
    margin: 3px;
}
.sell .input-group-text{
    border: unset;
    padding-right: 0px;
    background: transparent;
    font-family: CircularStd;
    font-size: 12px;
    line-height: 15px;
    color: #3445CF;
    border-bottom: 1px solid #3445CF;
    border-radius: unset;
}
.sell .sell-input{
    border: unset;
    padding-left:0px;
    border-radius: unset;
    border-bottom: 1px solid #3445CF;
    font-family: CircularStd;
    font-size: 18px;
    line-height: 23px;
    color: #3445CF;
}
.sell .sell-input:focus{
    border: unset;
    box-shadow: unset;
    border-bottom: 1px solid #3445CF;
}
.buy-heading h2{
    margin-bottom: 0px;
}
.sell-heading h2{
    margin-bottom: 0px;
}
.dashboard-section.show{
    display: visible;
}
.dashboard-section.hide{
    display: none;
}
.table-title{
    margin-top: 50px; 
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.rdt_TableHeader{
    display: none !important;
}
.table-title h2{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 56px;
    color: #2D3344;
    margin-top: -3%; 
}
.open_trades_button{
    width: 100%;
    text-align: center;
}
.rdt_TableCol_Sortable {
    font-weight: bold;
}
@media (min-width: 1200px)
{
    .container {
    max-width: 1140px;
}}
@media only screen and (min-width: 1024px) and (max-height: 1366px)
    and (-webkit-min-device-pixel-ratio: 1.5) and (hover: none) {
        .container {
            max-width: 973px;
        }
}
@media (min-width: 960px){

#canvasjs-react-chart-container-0{
    width:100% !important;
}
#canvasjs-react-chart-container-1{
    width:100% !important;
}
#canvasjs-react-chart-container-2{
    width:100% !important;
}
#canvasjs-react-chart-container-3{
    width:100% !important;
}
}
@media (min-width: 992px) and (max-height: 1366px){
    #canvasjs-react-chart-container-0{
        width:100% !important;
    }
    #canvasjs-react-chart-container-1{
        width:100% !important;
    }
    #canvasjs-react-chart-container-2{
        width:100% !important;
    }
    #canvasjs-react-chart-container-3{
        width:100% !important;
    }
}
@media only screen and (min-width: 1024px) and (max-height: 1366px)
    and (-webkit-min-device-pixel-ratio: 1.5) and (hover: none) {
        #canvasjs-react-chart-container-0{
            width:100% !important;
        }
        #canvasjs-react-chart-container-1{
            width:100% !important;
        }
        #canvasjs-react-chart-container-2{
            width:100% !important;
        }
        #canvasjs-react-chart-container-3{
            width:100% !important;
        }
}
@media only screen and (min-width: 768px) and (max-height: 1024px)
    and (-webkit-min-device-pixel-ratio: 1.5) and (hover: none) {
        #canvasjs-react-chart-container-0{
            width:450px !important;
        }
        #canvasjs-react-chart-container-1{
            width:450px !important;
        }
        #canvasjs-react-chart-container-2{
            width:450px !important;
        }
        #canvasjs-react-chart-container-3{
            width:450px !important;
        }
        .dashboard-container .buy.col-md-6 {
            max-width: 96% !important;
            flex: unset !important;
        }
        .assets-heading {
            font-size: 12px;
            line-height: 15px;
        }
        .assets-heading img{
            width: 31px;
            clear: both;
            float: left;    
        }
        .assets-heading div{
            margin-left: 0px;
        }
        .lg-change-text {
            font-size: 11px;
            line-height: 14px;
        }
        .point-value b {
            font-size: 9px !important;
            line-height: 16px;
        }
        .status b {
            font-size: 13px;
            line-height: 16px;
        }
        .status-balance b {
            font-size: 13px;
            line-height: 16px;
        }
        .width-1 {
            padding-left: 10px;
            width: 6.4%;
        }
        .width-215 {
            width: 20%;
        }
        .width-10 {
            width: 11.6%;
            padding: 15px 10px 15px 6px;
            background-image: unset;
        }
        .width-9 {
            width: 9.2%;
            padding: 15px 4px 15px 10px;
            background-image: unset;
            margin-right: 10px;
        }
        .point-value img{
            width:7px;
        }
        .width-12 {
            width: 7.5%;
            padding: 19px !important;
            padding-left: 33px !important;
        }
        .asset-info b img{
            width:13px;
        }
        .width-11 {
            width: 11.5%;
            background-image: unset;
            margin-right: 10px;
            padding-right:2px;
        }
        .asset-info b span{
            display: none;
        }
        .dashboard-container .sell.col-md-6 {
            max-width: 96% !important;
            margin-top:15px;
            flex: unset !important;
        }
        .table-assets {
            width: 35% !important;}
        .dash-asset-section {
            width: 64% !important;
        }
        .dashboard-container .sell.col-md-6{
            max-width: 96% !important;
        }
        .graph_div {
            overflow-x: scroll;
        }
}
@media only screen and (min-width: 1366px) and (max-height: 1024px)
    and (-webkit-min-device-pixel-ratio: 1.5) and (hover: none) {
}
.mobile_slider{
    display: none;
}
.leverage_tag{
    width: 100%;
    background-color: #fff0;
    font-family: Lato !important;
    font-style: normal;
    font-weight: bold !important;
    font-size: 12px;
    line-height: 14px;
    color: #3445CF !important;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #3445CF;
}
.stop_take{
    width: 100%;
    background-color: #fff0;
    font-family: Lato !important;
    font-style: normal;
    font-weight: bold !important;
    font-size: 12px;
    line-height: 14px;
    color: #3445CF !important;
    padding: 10px;
    margin-top: 25px;
    border: 1px solid #3445CF;
}
button.buy_submit_button {
    width: 100%;
    background-color: #ffffff00;
    border: 2px solid #19C8B3;
    margin-bottom: 20px;
    padding: 10px;
    font-family: CircularStd;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #19C8B3 !important;
}
.sell_submit_button{
    width: 100%;
    background-color: #ffffff00;
    border: 2px solid #FC4263;
    margin-bottom: 20px;
    padding: 10px;
    font-family: CircularStd;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #FC4263 !important;
}
.buy_submit_button:hover {
    background-color: #19C8B3;
    color: #FFFFFF !important;
}
.sell_submit_button:hover {
    background-color: #FC4263;
    color: #FFFFFF !important;
}
.circular_div{
    width: 55%;
    margin: auto;
}
.curncy_image{
    width: 35px;
}
.curncy_image img{
    width: 100%;
}
.dashboard_login .curncy_image img{
    width: 100%;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
}
.dashboard_login .assets-heading .curncy_image img{
    width: 100%;
    margin-top: 0;
    margin-right: 10px;
    margin-left: 0;
}
.low{
    color: #FC4263 !important;
    position: relative;
}
.heigh{
    color: #19C8B3 !important;
    position: relative;
}
 .tooltiptext{
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 20px;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}
.heigh:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  .low:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
 .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  .modal-content{
      width: 50% !important;
      margin: auto;
  }
  .modal-body{
      text-align: center;
  }
  .modal-body button{
      margin: 10px;
  }
  .td_div {
    width: 130px;
}
.btn-trade-yes{
    background-color: #FC7342 !important;
    color: #fff !important;
    border-radius: 4px !important;
    font-weight: bold !important;
    font-size: 12px !important;
    padding: 6px 10px;
    width: 100px;
}
.btn-trade-no{
    background-color: gray !important;
    color: #fff !important;
    border-radius: 4px !important;
    font-weight: bold !important;
    font-size: 12px !important;
    padding: 6px 10px;
    width: 100px;
}
.assetname{
    color: #3445CF;
    font-size: 20px;
}
.graph_div{
    margin-bottom: 30px;
}
.arrow-down{
    -webkit-animation: arrowdwn 1.5s infinite;  
    -moz-animation: arrowdwn 1.5s infinite; 
    -o-animation: arrowdwn 1.5s infinite;  
    animation: arrowdwn 1.5s infinite; 
}
@-webkit-keyframes arrowdwn {
    0%, 49% {
        position: absolute;
      top:20px
    }
    50%, 100% {
        position: absolute;
        top:0px
    }
}
.arrow-up{
    -webkit-animation: arrowup 1.5s infinite;  
    -moz-animation: arrowup 1.5s infinite; 
    -o-animation: arrowup 1.5s infinite;  
    animation: arrowup 1.5s infinite; 
}
@-webkit-keyframes arrowup {
    0%, 49% {
        position: absolute;
      top:0px
    }
    50%, 100% {
        position: absolute;
        top:20px
    }
}
.defult{
    width: 120px;
    padding: 5px 0px;
}
 .quadratgreen{
    width: 120px;
    padding: 5px 0px;
    -webkit-animation: greencolor 6s infinite;  
    -moz-animation: greencolor 6s infinite; 
    -o-animation: greencolor 6s infinite;  
    animation: greencolor 6s infinite;  

}
@-webkit-keyframes greencolor {
    0%, 49% {
      background-color: rgba(40, 200, 25, 0.336);
    }
    50%, 100% {
      background-color: #fcfcfc00;
    }
}

.quadrat{
    width: 120px;
    padding: 5px 0px;
    -webkit-animation: NAME-YOUR-ANIMATION 6s infinite;  
    -moz-animation: NAME-YOUR-ANIMATION 6s infinite;  
    -o-animation: NAME-YOUR-ANIMATION 6s infinite;  
    animation: NAME-YOUR-ANIMATION 6s infinite;  
}
@-webkit-keyframes NAME-YOUR-ANIMATION {
    0%, 49% {
      background-color: #e5000042;
    }
    50%, 100% {
      background-color: #fcfcfc00;
    }
}
.loader{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: #22222287;
    z-index: 1000;
}
      
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .modal-content{
        width: 100% !important;
    }
    .addasset_button{
        text-align: center;
    }
    .float-right {
        float: unset !important;
    }
    .table-assets {
        width: 100%;
    }
    .dashboard-table .table {
        display: none;
    }
    .mobile_slider{
        display: block;
    }
    .dashboard-table .mobile_slider .slick-arrow{
        display: none !important;
    }
   
    .mobile_slider .tab-body:hover{
        min-height:unset !important;
        padding: 0 !important;
        background-color: #fff !important;
        background: #fff;
        border: unset !important;
        height: unset !important;
    }
    .mobile_slider .slick-list {
        height: unset !important;
    }
    .mobile_slider .slick-dots{
        display: none !important;
    }
    .dash-asset-section {
        padding-left: 0;
        width: 100%;
    }
    .dashboard-container .buy.col-md-6 {
        max-width: 100%;
    }
    .dashboard-container .sell.col-md-6 {
        max-width: 100%;
    }
    .mobile_center{
        text-align: center;
    }
    .circular_div{
        width: 52% !important;
        margin: auto;
    }
    #canvasjs-react-chart-container-0{
        overflow: scroll !important;
        width: 700px !important;
     }
     #canvasjs-react-chart-container-1{
        overflow: scroll !important;
        width: 700px !important;
     }
     #canvasjs-react-chart-container-2{
        overflow: scroll !important;
        width: 700px !important;
     }
     #canvasjs-react-chart-container-3{
        overflow: scroll !important;
        width: 700px !important;
     }
     .dashboard_login .row{
         margin-right: 0px !important;
         margin-left: 0px !important;
     }
     .margin-right-15 {
        margin-right: 0px !important;
    }
    .circular-sell-div {
        margin-left: 12px;
        margin-right: 12px;
    }
    .circular-buy-div{
        margin-left: 12px;
        margin-right: 12px;
    }
    .volume_heading{
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 2px;
        color: #000000;
        padding: 12px;
        margin: 0;
    }
    .buy{
        background: #FFFFFF;
        box-shadow: 2px 16px 50px rgba(0, 0, 0, 0.04);
        border-radius: 4px;
        margin: 10px 0 !important;
    }
    .sell{
        background: #FFFFFF;
        box-shadow: 2px 16px 50px rgba(0, 0, 0, 0.04);
        margin: 10px 0 !important;
    }
    .heading-assets {
        margin: 0;
    }
    .heading-value {
        margin: 0;
    }
    .change-text {
        margin: 0;
    }
    .positive-text {
        margin: 0;
    }
    .purple-text {
        font-size: 12px !important;
        line-height: 14px !important;
    }
    .graph_div{
        overflow-x: scroll;
    }
    .hide_mobile{
        display: none;
    }
    .mobile_slider .tab-body{
        height: unset !important;
    }
    .all_trades {
        position: relative;
        top: -3px;
    }
}
@media only screen and (min-device-width : 481px) and (max-device-width : 767px) {
    .modal-content{
        width: 100% !important;
    }
    .addasset_button{
        text-align: center;
    }
    .float-right {
        float: unset !important;
    }
    .table-assets {
        width: 100%;
    }
    .dashboard-table .table {
        display: none;
    }
    .dashboard-table .mobile_slider .slick-arrow{
        display: none !important;
    }
    .mobile_slider{
        display: block;
    }
    .mobile_slider .tab-body{
        min-height:unset !important;
        padding: 0 !important;
        background-color: #fff !important;
    }
    .mobile_slider .tab-body:hover{
        min-height:unset !important;
        padding: 0 !important;
        background-color: #fff !important;
        background: #fff;
        border: unset !important;
        height: unset !important;
    }
    .mobile_slider .slick-list {
        height: unset !important;
    }
    .mobile_slider .slick-dots{
        display: none !important;
    }
    .dash-asset-section {
        padding-left: 0;
        width: 100%;
    }
    .dashboard-container .buy.col-md-6 {
        max-width: 100%;
    }
    .mobile_center{
        text-align: center;
    }
    .circular_div{
        width: 35% !important;
        margin: auto;
    }
    .dashboard-container .sell.col-md-6 {
        max-width: 100%;
    }
    #canvasjs-react-chart-container-0{
       overflow: scroll !important;
       width: 700px !important;
    }
    #canvasjs-react-chart-container-1{
        overflow: scroll !important;
        width: 700px !important;
     }
     #canvasjs-react-chart-container-2{
        overflow: scroll !important;
        width: 700px !important;
     }
     #canvasjs-react-chart-container-3{
        overflow: scroll !important;
        width: 700px !important;
     }
    .dashboard_login .row{
        margin-right: 0px !important;
        margin-left: 0px !important;
    }
    .margin-right-15 {
        margin-right: 0px !important;
    }
    .circular-sell-div {
        margin-left: 12px;
        margin-right: 12px;
    }
    .circular-buy-div{
        margin-left: 12px;
        margin-right: 12px;
    }
    .volume_heading{
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 2px;
        color: #000000;
        padding: 12px;
        margin: 0;
    }
    .buy{
        background: #FFFFFF;
        box-shadow: 2px 16px 50px rgba(0, 0, 0, 0.04);
        margin: 10px 0 !important;
    }
    .sell{
        background: #FFFFFF;
        box-shadow: 2px 16px 50px rgba(0, 0, 0, 0.04);
        margin: 10px 0 !important;
    }
    .heading-assets {
        margin: 0;
    }
    .heading-value {
        margin: 0;
    }
    .change-text {
        margin: 0;
    }
    .positive-text {
        margin: 0;
    }
    .purple-text {
        font-size: 12px !important;
        line-height: 14px !important;
    }
    .graph_div{
        overflow-x: scroll;
    }
    .hide_mobile{
        display: none;
    }
    .mobile_slider .tab-body{
        height: unset !important;
    }
    .all_trades {
        position: relative;
        top: -3px;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1023px) {
    .hide_on_mobile {
        display: block;
    }
    .graph_div{
        overflow-x: scroll;
        background-color: #fff;
        padding: 20px
    }
    .dashboard_login .margin-top-50 {
        margin-top: 20px;
    }
    .status-balance b {
        font-size: 12px;
    }
    .hide_mobile{
        display: block;
    }
    .graph_div {
        overflow-x: scroll;
    }
}

 /* iPads (landscape) ----------- */
 @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .navbar-expand-lg .navbar-nav .nav-link{
        padding: .5rem 0  !important;
    }
    .banner-text h1{
        font-size: 45px !important;
    }
    .banner-text p{
        width: 365px !important;
    }
 }

.asset-name-class {
    padding-top: 10px !important;
}


.all_trades {
    margin-left: 15px;
    padding: 7px !important;
}

 