h2 .add-fav{
    font-family: Lato;
}
.curncy_image{
    width: 30px;
}
.curncy_image img{
    width: 100%;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 10px;
}
.kyc-section-cointainer h2 i{
    cursor: pointer;
}
.addfav .asset-name-class {
    padding-top: 0px;
}
.btn-trade{
    background-color: #FC7342 !important;
    color: #fff !important;
    border-radius: 4px !important;
    font-weight: bold !important;
    font-size: 12px !important;
    padding: 6px 10px;
    width: 100px;
}
.wallet{
    padding-top: 20px;
}
.wallet h3{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    color: #2D3344;
}
.wallet h4{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    color: #2D3344;
}
.trading_history{
    text-align: center;
}
.trading_history a{
    background-color: #FC7342 !important;
    color: #fff !important;
    border-radius: 4px !important;
    font-weight: bold !important;
    font-size: 18px !important;
    padding: 6px 20px;
}
.margin-top-35{
    margin-top:35px;
}
.margin-top-60{
    margin-top: 60px;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .addfav .asset-name-class {
        padding-top: 0px !important;
    }
    .modal-content{
        width: 100% !important;
    }
    .kyc-section-cointainer .width-215 {
        width: 100%;
        padding: 15px 5px;
    }
    .kyc-section-cointainer .curncy_image img {
        width: 100%;
        margin-top: -8px;
        margin-right: 10px;
        margin-left: 10px;
    }
    .kyc-section-cointainer .width-1 {
        width: 50%;
        padding: 15px;
    }
    .kyc-section-cointainer .width-10 {
        width: 50%;
    }
    .kyc-section-cointainer  .width-9 {
        width: 50%;
    }
    .kyc-section-cointainer  .width-11 {
        width: 50%;
    }
    .kyc-section-cointainer  .width-12 {
        width: 100%;
    }
    .open_trades_button{
        margin-bottom: 20px;
    }
}
@media only screen and (min-device-width : 481px) and (max-device-width : 767px) {
    .addfav .asset-name-class {
        padding-top: 0px !important;
    }
    .modal-content{
        width: 100% !important;
    }
    .kyc-section-cointainer .width-215 {
        width: 100%;
        padding: 15px 5px;
    }
    .kyc-section-cointainer .curncy_image img {
        width: 100%;
        margin-top: -8px;
        margin-right: 10px;
        margin-left: 10px;
    }
    .kyc-section-cointainer .width-1 {
        width: 50%;
        padding: 15px;
    }
    .kyc-section-cointainer .width-10 {
        width: 50%;
    }
    .kyc-section-cointainer  .width-9 {
        width: 50%;
    }
    .kyc-section-cointainer  .width-11 {
        width: 50%;
    }
    .kyc-section-cointainer  .width-12 {
        width: 100%;
    }
    .open_trades_button{
        margin-bottom: 20px;
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1023px) {
    .margin-bottom-50 {
        margin-bottom: 50px;
    }
    .kyc-section-cointainer .curncy_image img {
        width: 100%;
        margin-top: 0;
        margin-right: 0;
        margin-left: 0;
    }
}