body {
  margin: 0;
  padding: 0;
  color: #2D3344;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: LatoStdBlack;
  src: url(fonts/lato/Lato-Black.ttf);
}
@font-face {
  font-family: LatoBlackItalic;
  src: url(fonts/lato/Lato-BlackItalic.ttf);
}
@font-face {
  font-family: LatoBold;
  src: url(fonts/lato/Lato-Bold.ttf);
}
@font-face {
  font-family: LatoBoldItalic;
  src: url(fonts/lato/Lato-BoldItalic.ttf);
}
@font-face {
  font-family: Lato;
  src: url(fonts/lato/Lato-Regular.ttf);
}
@font-face {
  font-family: LatoMedium;
  src: url(fonts/lato/Lato-Medium.ttf);
}
@font-face {
  font-family: LatoMediumItalic;
  src: url(fonts/lato/Lato-MediumItalic.ttf);
}
@font-face {
  font-family: Montserrat;
  src: url(fonts/Montserrat/Montserrat-Regular.ttf);
}
@font-face {
  font-family: CircularStd;
  src: url(fonts/circular-std-font/CircularStd-Black.otf);
}

.padding-top-50{
  padding-top:50px;
}
.padding-top-25{
  padding-top:25px;
}
.padding-top-10{
padding-top:10px;
}
.padding-top-20{
  padding-top:20px !important;
}
.padding-bottom-20{
  padding-bottom:20px !important;
}

.padding-0{
  padding:0px !important;
}
.padding-top-35{
  padding-top:35px;
  }
.padding-top-100{
padding-top:100px;
}
.padding-top-105{
  padding-top:105px;
  }
.padding-left-0{
  padding-left: 0px;
}
.padding-bottom-100{
padding-bottom:100px;
}
.padding-bottom-50{
  padding-bottom:50px;
  }
.margin-top-100{
margin-top: 100px;
}
.margin-top-20{
  margin-top: 20px;
  }
.margin-top-50{
  margin-top: 50px;
  }
.margin-bottom-30{
margin-bottom: 30px;
}
.margin-bottom-50{
  margin-bottom: 50px;
  }
.margin-bottom-100{
  margin-bottom: 100px;
  }
.margin-bottom-80{
  margin-bottom:80px;
}
.margin-top-30{
  margin-top: 30px;
}
.margin-right-15{
  margin-right: 15px !important;
}
.margin-left-n65{
  margin-left: -65px;
}

.add-fav{
  cursor: pointer;
}
.dropzone{
  cursor: pointer;
}

html{
  scrollbar-color: #FC7342 #ECEFF5 !important;
  scrollbar-width: thin !important;
  scrollbar-highlight-color: auto !important;
}
.ul_scrollbar{
  scrollbar-color: #FC7342 #ECEFF5 !important;
  scrollbar-width: thin !important;
}
.scrollbar_all_trades{
  scrollbar-color: #FC7342 #ECEFF5 !important;
  scrollbar-width: thin !important;
}

.scrollbar_all_trades::-webkit-scrollbar {
  height: 5px !important;
  width: 5px !important;
  }
.ul_scrollbar::-webkit-scrollbar {
  height: auto !important;
  width: 5px !important;
  }
.ul_scrollbar::-webkit-scrollbar-thumb {
  background: #FC7342 !important;
}

.ul_scrollbar::-webkit-scrollbar-track {
  background: #eee !important;
  /* box-shadow: 0 0 1px 1px #bbb, inset 0 0 7px rgba(0,0,0,0.3) !important */
}

.ul_scrollbar::-webkit-scrollbar-thumb:hover {
  background: #FC7342 !important;
}

::-webkit-scrollbar {
  height: auto !important;
  width: 5px !important;
  }
::-webkit-scrollbar-thumb {
  background: #FC7342 !important;
}

::-webkit-scrollbar-track {
  background: #eee !important;
  /* box-shadow: 0 0 1px 1px #bbb, inset 0 0 7px rgba(0,0,0,0.3) !important */
}

::-webkit-scrollbar-thumb:hover {
  background: #FC7342 !important;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1023px) {
  html{
    scrollbar-color: #FC7342 #ECEFF5 !important;
    scrollbar-width: thin !important;
  }
  .ul_scrollbar{
    scrollbar-color: #FC7342 #ECEFF5 !important;
    scrollbar-width: thin !important; 
  }
  
  .scrollbar_all_trades::-webkit-scrollbar {
    height: auto !important;
    }
  .ul_scrollbar::-webkit-scrollbar {
    width: 5px !important;
    }
  .ul_scrollbar::-webkit-scrollbar-thumb {
    background: #FC7342 !important;
  }
  
  .ul_scrollbar::-webkit-scrollbar-track {
    background: #eee !important;
    /* box-shadow: 0 0 1px 1px #bbb, inset 0 0 7px rgba(0,0,0,0.3) !important */
  }
  
  .ul_scrollbar::-webkit-scrollbar-thumb:hover {
    background: #FC7342 !important;
  }
  
  ::-webkit-scrollbar {
    height: auto !important;
    }
  ::-webkit-scrollbar-thumb {
    background: #FC7342 !important;
  }
  
  ::-webkit-scrollbar-track {
    background: #eee !important;
    /* box-shadow: 0 0 1px 1px #bbb, inset 0 0 7px rgba(0,0,0,0.3) !important */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #FC7342 !important;
  }
}

.blockloader{
  top: 0;
    background: #fff;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
}