.profile-text aside{
    margin-top: -97px !important;
}
.profile-text aside div{
    display: inline-flex;
    border-radius: 50px !important;
    border: 1px solid rgb(234, 234, 234);
    margin-bottom: 0px !important;
    margin-right: 0px !important;
    width: 76px !important;
    height: 76px !important;
    padding: 0px !important;
    box-sizing: border-box;
    margin-top: 5px !important;
}
.profile-camera{
    color: #3538D0;
}
.profile-camera:focus {
    outline: unset;
}
.dropzone:focus {
    outline: unset;
}

